Repository mantlenetworkio/mantle, pull requests merged in 2022-09, with the labels that each got.

#68 Tss staking contract
  packages/contracts/contracts/L1/tss/ITssGroupManager.sol
  packages/contracts/contracts/L1/tss/ITssStakingSlashing.sol
  packages/contracts/contracts/L1/tss/TssGroupManager.sol
  packages/contracts/contracts/L1/tss/TssStakingSlashing.sol
  packages/contracts/deploy/017-TssGroupManager.ts
  packages/contracts/deploy/018-TssStakingSlashing.ts
  packages/contracts/docs/ECDSAUpgradeable.md
  packages/contracts/docs/IERC20PermitUpgradeable.md
  packages/contracts/docs/IERC20Upgradeable.md
  packages/contracts/docs/IStakingSlashing.md
  packages/contracts/docs/ITssGroupManager.md
  packages/contracts/docs/SafeERC20Upgradeable.md
  packages/contracts/docs/SafeMathUpgradeable.md
  packages/contracts/docs/StakingSlashing.md
  packages/contracts/docs/StringsUpgradeable.md
  packages/contracts/docs/TssGroupManager.md
  packages/contracts/docs/TssStakingSlashing.md
  packages/contracts/hardhat.config.ts
  packages/contracts/package.json
  packages/contracts/src/address-names.ts
  packages/contracts/test/contracts/L1/tss/TssGroupMannager.ts
  packages/contracts/test/contracts/L1/tss/TssStakingSlashing.ts
  tss/Makefile
  tss/bindings/tgm/tss_group_manager.go
  tss/bindings/tsh/tss_staking-slashing.go
  yarn.lock
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#81 fix fault-detector
  packages/fault-detector/src/helpers.ts
  packages/fault-detector/src/service.ts
Labels: 2-reviewers

#70 fix: remove-dupliate-fault-detector
  ops/docker-compose.yml
Labels: 2-reviewers, M-ops

#88 remove replica in gas-oracle
  ops/docker-compose.yml
Labels: 2-reviewers, M-ops

#90 open gas oracle base fee and gas price config
  .circleci/config.yml
  gas-oracle/oracle/gas_price_oracle.go
  ops/docker-compose.yml
Labels: 2-reviewers, M-ops

#92 fix merge issues
  go.work.sum
  l2geth/core/state_transition.go
  l2geth/rollup/dump/constants.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#99 add tss http base url config
  ops/docker-compose.yml
Labels: 2-reviewers, M-ops

#109 change organizations to bitdaoio
  batch-submitter/CHANGELOG.md
  batch-submitter/package.json
  gas-oracle/CHANGELOG.md
  gas-oracle/package.json
  integration-tests/CHANGELOG.md
  integration-tests/README.md
  l2geth-exporter/CHANGELOG.md
  l2geth-exporter/package.json
  l2geth/package.json
  ops/docker/ci-builder/CHANGELOG.md
  ops/docker/ci-builder/package.json
  ops/docker/foundry/CHANGELOG.md
  ops/docker/foundry/package.json
  ops/docker/hardhat/CHANGELOG.md
  ops/docker/hardhat/package.json
  ops/scripts/ci-versions.js
  package-lock.json
  packages/fault-detector/README.md
  proxyd/CHANGELOG.md
  proxyd/package.json
  yarn.lock
Labels: 2-reviewers, M-l2geth, M-integration, M-ops

#101 Implement coterie
  l2geth/accounts/accounts.go
  l2geth/consensus/consensus.go
  l2geth/consensus/coterie/api.go
  l2geth/consensus/coterie/coterie.go
  l2geth/consensus/coterie/snapshot.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#102 Fix contract deploy
  packages/contracts/contracts/L1/tss/ITssStakingSlashing.sol
  packages/contracts/contracts/L1/tss/TssStakingSlashing.sol
  packages/contracts/deploy/017-TssContracts.ts
  packages/contracts/deploy/017-TssGroupManager.ts
  packages/contracts/deploy/018-TssStakingSlashing.ts
  packages/contracts/docs/IStakingSlashing.md
  packages/contracts/docs/TssStakingSlashing.md
  packages/contracts/src/address-names.ts
  packages/contracts/test/contracts/L1/tss/TssStakingSlashing.ts
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#111 change foundary images
  .github/workflows/release.yml
  ops/docker/Dockerfile.packages
  ops/docker/ci-builder/Dockerfile
  ops/docker/initl1/Dockerfile
Labels: 2-reviewers, M-ops

#112 Fix workflows
  .circleci/config.yml
  .github/workflows/release.yml
  .gitignore
  CONTRIBUTING.md
  Makefile
  README.md
  batch-submitter/CHANGELOG.md
  go.work.sum
  l2geth/README.md
  l2geth/build/ci.go
  ops/docker/ci-builder/CHANGELOG.md
  package.json
  packages/contracts/codechecks.yml
  packages/contracts/contracts/L2/predeploys/BVM_ETH.sol
  packages/contracts/deploy-config/local.ts
  packages/contracts/hardhat.config.ts
  packages/contracts/tasks/fetch-batches.ts
  packages/fault-detector/src/helpers.ts
  packages/fault-detector/src/service.ts
  packages/fault-detector/test/helpers.spec.ts
  packages/message-relayer/src/service.ts
  packages/replica-healthcheck/src/service.ts
  packages/sdk/README.md
  packages/sdk/hardhat.config.ts
  packages/sdk/package.json
  packages/sdk/src/cross-chain-messenger.ts
  packages/sdk/src/interfaces/cross-chain-messenger.ts
  yarn.lock
Labels: 2-reviewers, M-l2geth, M-contracts, M-sdk, C-Protocol-Critical, M-ops

#114 fix sdk unit test
  packages/sdk/test/cross-chain-messenger.spec.ts
  yarn.lock
Labels: M-sdk

#117 [fix]: fix native token related test
  packages/contracts/deploy/013-ChugSplashDictator.deploy.ts
  packages/contracts/deploy/deploy-bit-token-erc20.ts
  packages/contracts/hardhat.config.ts
  packages/contracts/test/contracts/L1/deployment/ChugSplashDictator.spec.ts
  packages/contracts/test/contracts/L1/messaging/L1StandardBridge.spec.ts
  packages/contracts/test/contracts/L1/messaging/deposit.gas.spec.ts
  packages/contracts/test/contracts/L2/predeploys/BVM_ETH.spec.ts
Labels: 2-reviewers, M-contracts

#118 fix: fix jobs
  .changeset/config.json
  .circleci/config.yml
  .github/workflows/goreleaser.yml
  .github/workflows/publish-canary.yml
  .github/workflows/release.yml
  .github/workflows/sync-tests.yml
  .gitignore
  .goreleaser.yaml
  DEVELOP.md
  batch-submitter/CHANGELOG.md
  batch-submitter/package.json
  l2geth/README.md
  ops/docker-compose.local.yml
  ops/docker-compose.yml
  ops/scripts/build-ci.sh
Labels: 2-reviewers, M-l2geth, M-ops

#121 Wb/fix dev
  integration-tests/go-tests/Makefile
  ops/Makefile.local
  ops/docker-compose.local.yml
  ops/envs/deployer.env
Labels: 2-reviewers, M-integration, M-ops

#122 [fix]: revert yarn lock change
  integration-tests/package.json
  packages/contracts/package.json
  packages/data-transport-layer/package.json
  packages/fault-detector/package.json
  packages/sdk/package.json
  yarn.lock
Labels: 2-reviewers, M-integration, M-contracts, M-dtl, M-sdk

#119 l2 gas price change to zero
  ops/docker-compose.yml
  packages/contracts/hardhat.config.ts
Labels: 2-reviewers, M-contracts, M-ops

#126 fix sdk
  integration-tests/package.json
  packages/contracts/balance.json
  packages/fault-detector/package.json
  packages/message-relayer/package.json
  packages/sdk/package.json
  packages/sdk/src/adapters/erc20-bridge.ts
  packages/sdk/src/adapters/index.ts
  packages/sdk/src/adapters/standard-bridge.ts
  packages/sdk/src/interfaces/types.ts
  packages/sdk/src/utils/contracts.ts
  yarn.lock
Labels: 2-reviewers, M-integration, M-contracts, M-sdk

#127 tss group set task
  packages/contracts/tasks/tss-tasks.ts
Labels: 2-reviewers, M-contracts

#130 fix: fix typo
  .github/workflows/build-image.yml
Labels: 2-reviewers
