Repository mantlenetworkio/mantle, pull requests merged in 2022-10, with the labels that each got.

#133 [fix]: fix docker-compose common base
  ops/docker-compose.local.yml
Labels: 2-reviewers, M-ops

#134 [fix]: replace makefile to local
  ops/Makefile
  ops/Makefile.local
Labels: 2-reviewers, M-ops

#135 [fix]: change go-test mod name
  go.work.sum
  integration-tests/go-tests/deposite_withdraw_test.go
  integration-tests/go-tests/go.mod
  integration-tests/go-tests/go.sum
Labels: M-integration

#141 Wb/fix qa
  ops/goerli/qa/Makefile.goerli.qa
  ops/goerli/qa/Makefile.goerli.qa.deploy
  ops/goerli/qa/deploy.sh
  ops/goerli/qa/docker-compose.goerli.qa.deploy.yml
  ops/goerli/qa/docker-compose.goerli.qa.yml
  ops/goerli/qa/runQA.sh
  packages/contracts/deploy-config/goerli-qa.ts
  packages/contracts/deployments/goerli-qa/AddressDictator.json
  packages/contracts/deployments/goerli-qa/BVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/goerli-qa/BondManager.json
  packages/contracts/deployments/goerli-qa/CanonicalTransactionChain.json
  packages/contracts/deployments/goerli-qa/ChainStorageContainer-CTC-batches.json
  packages/contracts/deployments/goerli-qa/ChainStorageContainer-SCC-batches.json
  packages/contracts/deployments/goerli-qa/ChugSplashDictator.json
  packages/contracts/deployments/goerli-qa/L1StandardBridge_for_verification_only.json
  packages/contracts/deployments/goerli-qa/Lib_AddressManager.json
  packages/contracts/deployments/goerli-qa/Proxy__BVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/goerli-qa/Proxy__BVM_L1StandardBridge.json
  packages/contracts/deployments/goerli-qa/StateCommitmentChain.json
  packages/contracts/deployments/goerli-qa/TestBitToken.json
  packages/contracts/deployments/goerli-qa/solcInputs/0001112c43c9fbb96a39f5638b496094.json
  packages/contracts/deployments/goerli-qa/solcInputs/3d3d785b3325a7ad020e316f9c859d56.json
  packages/contracts/deployments/goerli-qa/solcInputs/66d85f25735fbe946226f776e4a2c3cd.json
  packages/contracts/deployments/goerli-qa/solcInputs/ae699ef1ecca25e26d09df5cf1a0133e.json
  packages/contracts/deployments/goerli-qa/solcInputs/bd46cf6c91f721b14b8e2b4cb8139b7d.json
  packages/contracts/deployments/goerli-qa/solcInputs/c6fa98050793d45f2d036f3d33162292.json
  packages/contracts/deployments/goerli-qa/solcInputs/defc7dfafc44aa03588411b2c2786e58.json
  packages/contracts/deployments/goerli-qa/solcInputs/e1bec85811d843fce4803b61ad66bd59.json
  packages/contracts/deployments/goerli-qa/solcInputs/f0d9e5138e52c9bad0d037f4a2adcdef.json
  packages/contracts/hardhat.config.ts
Labels: 2-reviewers, M-contracts, M-ops

#142 support injecting address
  packages/contracts/deploy-config/goerli-qa.ts
Labels: 2-reviewers, M-contracts

#143 fix contract resolve
  batch-submitter/go.sum
  packages/contracts/contracts/L1/rollup/StateCommitmentChain.sol
  packages/contracts/deploy/009.1-TssContracts.ts
  packages/contracts/src/address-names.ts
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#140 Clean code of tssRewards
  l2geth/contracts/tssreward/contract/tssreward.go
  l2geth/contracts/tssreward/tssreward.go
  l2geth/core/state_transition.go
  l2geth/rollup/dump/constants.go
  packages/contracts/contracts/L1/rollup/IStateCommitmentChain.sol
  packages/contracts/contracts/L1/rollup/StateCommitmentChain.sol
  packages/contracts/contracts/L2/predeploys/BVM_SequencerFeeVault.sol
  packages/contracts/contracts/L2/predeploys/TssRewardContract.sol
  packages/contracts/contracts/L2/predeploys/iTssRewardContract.sol
  packages/contracts/docs/IStateCommitmentChain.md
  packages/contracts/docs/StateCommitmentChain.md
Labels: 2-reviewers, M-l2geth, M-contracts, C-Protocol-Critical

#146 fix dtl bug
  ops/Makefile.goerli.qa
  ops/Makefile.goerli.qa.deploy
  ops/READEM.goerli.qa.deploy.md
  ops/docker-compose.goerli.qa.deploy.yml
  ops/docker-compose.goerli.qa.yml
  ops/goerli/qa/docker-compose.goerli.qa.yml
  packages/data-transport-layer/src/services/l2-ingestion/service.ts
  packages/sdk/src/utils/contracts.ts
Labels: 2-reviewers, M-dtl, M-sdk, C-Protocol-Critical, M-ops

#150 lower gasoracle frequency
  ops/goerli/qa/docker-compose.goerli.qa.yml
Labels: 2-reviewers, M-ops

#157 add signature
  packages/sdk/src/cross-chain-messenger.ts
  packages/sdk/src/interfaces/types.ts
Labels: M-sdk

#155 Wb/protect qa key
  ops/docker-compose.yml
  ops/envs/batch-submitter.env
  ops/envs/deployer.env
  ops/envs/gas-oracle.env
  ops/goerli/qa/Makefile.goerli.qa.deploy
  ops/goerli/qa/docker-compose.goerli.qa.deploy.yml
  ops/goerli/qa/docker-compose.goerli.qa.yml
  ops/goerli/qa/runQA.sh
  ops/scripts/deployer.sh
  packages/contracts/deploy-config/goerli-qa.ts
  packages/contracts/hardhat.config.ts
Labels: 2-reviewers, M-contracts, M-ops

#165 Wb/fix contracts deploy
  ops/goerli/qa/docker-compose.goerli.qa.deploy.yml
  ops/goerli/qa/docker-compose.goerli.qa.yml
  packages/contracts/deploy-config/goerli-qa.ts
  packages/contracts/deploy/010-TssContracts.ts
  packages/contracts/deploy/011-AddressDictator.deploy.ts
  packages/contracts/deploy/012-set-addresses.ts
  packages/contracts/deploy/013-initialize-Proxy__L1CrossDomainMessenger.ts
  packages/contracts/deploy/014-ChugSplashDictator.deploy.ts
  packages/contracts/deploy/015-BVM_L1StandardBridge.deploy.ts
  packages/contracts/deploy/016-finalize.ts
  packages/contracts/deploy/017-fund-accounts.ts
  packages/contracts/deploy/deploy-bit-token-erc20.ts
  packages/contracts/deployments/goerli-qa/AddressDictator.json
  packages/contracts/deployments/goerli-qa/TestBitToken.json
Labels: 2-reviewers, M-contracts, M-ops

#166 fix local
  ops/docker-compose.yml
  ops/envs/deployer.env
Labels: 2-reviewers, M-ops

#167 sdk and contract version upgrade
  integration-tests/package.json
  packages/contracts/deployments/goerli-qa/AddressDictator.json
  packages/contracts/deployments/goerli-qa/BVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/goerli-qa/BondManager.json
  packages/contracts/deployments/goerli-qa/CanonicalTransactionChain.json
  packages/contracts/deployments/goerli-qa/ChainStorageContainer-CTC-batches.json
  packages/contracts/deployments/goerli-qa/ChainStorageContainer-SCC-batches.json
  packages/contracts/deployments/goerli-qa/ChugSplashDictator.json
  packages/contracts/deployments/goerli-qa/L1StandardBridge_for_verification_only.json
  packages/contracts/deployments/goerli-qa/Lib_AddressManager.json
  packages/contracts/deployments/goerli-qa/Proxy__BVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/goerli-qa/Proxy__BVM_L1StandardBridge.json
  packages/contracts/deployments/goerli-qa/Proxy__TSS_GroupManager.json
  packages/contracts/deployments/goerli-qa/Proxy__TSS_StakingSlashing.json
  packages/contracts/deployments/goerli-qa/StateCommitmentChain.json
  packages/contracts/deployments/goerli-qa/TestBitToken.json
  packages/contracts/deployments/goerli-qa/TssGroupManager.json
  packages/contracts/deployments/goerli-qa/TssStakingSlashing.json
  packages/contracts/deployments/goerli-qa/solcInputs/064bc205f8bce2ef83711f1eb7a04496.json
  packages/contracts/deployments/goerli-qa/solcInputs/2b67960d257f527433d478e9fa8c8e32.json
  packages/contracts/deployments/goerli-qa/solcInputs/6249ee9c70f110aa3d721b6a27d3dafd.json
  packages/contracts/deployments/goerli-qa/solcInputs/6a169ecc759467173fdff740fe202e37.json
  packages/contracts/deployments/goerli-qa/solcInputs/719d9aa63292d42550d305c1db719407.json
  packages/contracts/deployments/goerli-qa/solcInputs/72f37e50a995fca7f2f42087285f2696.json
  packages/contracts/deployments/goerli-qa/solcInputs/76930eb93d7d5ad26b4e45ea562392aa.json
  packages/contracts/deployments/goerli-qa/solcInputs/a9e12a919bf98bff283544da20485c10.json
  packages/contracts/deployments/goerli-qa/solcInputs/bf52ea358c15b0b34f71203834efe865.json
  packages/contracts/deployments/goerli-qa/solcInputs/c072e04a8964239bbd31b7c5e35122ac.json
  packages/contracts/deployments/goerli-qa/solcInputs/c250f716c1fb01f236014e9d82942050.json
  packages/contracts/deployments/goerli-qa/solcInputs/c825b5a5240303ad1511bbfbce1bf03a.json
  packages/contracts/deployments/goerli-qa/solcInputs/cc13ba1dfbe08408f66c8f8e7e0e9d95.json
  packages/contracts/deployments/goerli-qa/solcInputs/dda3c43a9a79362904b1f228e1331dc5.json
  packages/contracts/deployments/goerli-qa/solcInputs/f6e4932fb9aa5713d27d6ae457e78531.json
  packages/contracts/deployments/goerli-qa/solcInputs/ff343957e9f9c85afb31012b1e24dd56.json
  packages/contracts/docs/CanonicalTransactionChain.md
  packages/contracts/docs/ICanonicalTransactionChain.md
  packages/contracts/docs/IStateCommitmentChain.md
  packages/contracts/docs/StateCommitmentChain.md
  packages/contracts/docs/TssGroupManager.md
  packages/contracts/package.json
  packages/data-transport-layer/package.json
  packages/fault-detector/package.json
  packages/message-relayer/package.json
  packages/sdk/package.json
  packages/sdk/src/utils/contracts.ts
  yarn.lock
Labels: 2-reviewers, M-integration, M-contracts, M-dtl, M-sdk

#174 Wb/testnet prepare
  ops/goerli/testnet/Makefile.goerli.testnet
  ops/goerli/testnet/deploy.sh
  ops/goerli/testnet/docker-compose.goerli.testnet.deploy.yml
  ops/scripts/deployer.sh
  packages/contracts/deploy-config/goerli-nightly.ts
  packages/contracts/deploy-config/goerli-testnet.ts
  packages/contracts/deploy-config/goerli.ts
  packages/contracts/deploy-config/goerlibn.ts
  packages/contracts/deploy-config/kovan.ts
  packages/contracts/hardhat.config.ts
Labels: 2-reviewers, M-contracts, M-ops

#178 fix Makefile bug
  ops/goerli/testnet/Makefile.goerli.testnet.deploy
Labels: 2-reviewers, M-ops

#169 Update sequencer contract
  packages/contracts/contracts/L1/sequencer/Sequencer.sol
  packages/contracts/docs/Sequencer.md
  packages/contracts/test/contracts/L1/sequencer/sequencer.spec.ts
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#182 sdk unit test fix
  packages/contracts/test/contracts/L2/predeploys/TssRewardContract.spec.ts
  packages/sdk/test/contracts/MockSCC.sol
  packages/sdk/test/cross-chain-messenger.spec.ts
Labels: 2-reviewers, M-contracts, M-sdk

#175 batch-submitter l2geth tss bump version
  .github/workflows/build-image.yml
  batch-submitter/package.json
  l2geth/package.json
  packages/data-transport-layer/package.json
  tss/Dockerfile
  tss/package.json
Labels: 2-reviewers, M-l2geth, M-dtl

#183 add tss manager
  ops/Makefile
  ops/config/tss-manager-config.toml
  ops/config/tss-node-config.toml
  ops/docker-compose-tss.yml
  ops/docker-compose.local.yml
  ops/docker/tss/Dockerfile
Labels: 2-reviewers, M-ops

#185 update bit initial token
  packages/contracts/contracts/L1/local/TestBitToken.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#186 [fix]: fix WETH & bit predepoly decimals
  integration-tests/go-tests/Layer2_deposite_withdraw_test.go
  packages/contracts/tasks/take-dump.ts
Labels: 2-reviewers, M-integration, M-contracts

#181 Hotfix/tss 1
  batch-submitter/drivers/proposer/driver.go
  packages/contracts/contracts/L1/rollup/StateCommitmentChain.sol
  packages/contracts/contracts/L1/tss/TssGroupManager.sol
  packages/contracts/hardhat.config.ts
  packages/contracts/tasks/tss-tasks.ts
  packages/contracts/test/contracts/L1/tss/TssGroupMannager.ts
  tss/bindings/tgm/tss_group_manager.go
  tss/bindings/tsh/tss_staking-slashing.go
  tss/common/config.go
  tss/common/utils.go
  tss/index/observe.go
  tss/manager/cmd.go
  tss/manager/l1chain/service.go
  tss/manager/manage.go
  tss/manager/router/registry.go
  tss/manager/router/route.go
  tss/manager/slash.go
  tss/manager/types/interface.go
  tss/node/signer/delete_slash.go
  tss/node/signer/keygen.go
  tss/node/signer/process.go
  tss/node/signer/sign_slash.go
  tss/node/signer/verify_slash.go
  tss/node/store/culprit.go
  tss/node/store/slash.go
  tss/node/tsslib/p2p/communication.go
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#187 Shijiang/sdk bug fix
  integration-tests/package.json
  packages/message-relayer/package.json
  packages/sdk/package.json
  packages/sdk/src/adapters/eth-bridge.ts
  packages/sdk/src/adapters/standard-bridge.ts
  yarn.lock
Labels: 2-reviewers, M-integration, M-sdk
