Repository mantlenetworkio/mantle, pull requests merged in 2022-12, with the labels that each got.

#364 testnet deployment
  packages/contracts/addresses-testnet.txt
  packages/contracts/deployments/goerli-testnet/.chainId
  packages/contracts/deployments/goerli-testnet/Lib_AddressManager.json
  packages/contracts/deployments/goerli-testnet/Proxy__BVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/goerli-testnet/Proxy__BVM_L1StandardBridge.json
  packages/contracts/deployments/goerli-testnet/StateCommitmentChain.json
  packages/contracts/filenames-testnet.txt
Labels: 2-reviewers, M-contracts

#370 update testnet's sdk address & add CHANGELOG.md
  CHANGELOG.md
  packages/sdk/src/utils/contracts.ts
Labels: M-sdk

#371 update testnet's sdk address & add CHANGELOG.md
  CHANGELOG.md
  packages/sdk/src/utils/contracts.ts
Labels: M-sdk

#375 Kukoo/control msgs rebase
  l2geth/cmd/geth/retesteth.go
  l2geth/consensus/clique/clique.go
  l2geth/consensus/clique/clique_test.go
  l2geth/consensus/clique/proposer.go
  l2geth/consensus/clique/proposer_test.go
  l2geth/consensus/clique/scheduler.go
  l2geth/consensus/clique/scheduler_test.go
  l2geth/consensus/clique/sequencer.go
  l2geth/consensus/clique/sequencer_set_test.go
  l2geth/consensus/clique/sequencer_test.go
  l2geth/consensus/clique/snapshot.go
  l2geth/consensus/clique/types.go
  l2geth/consensus/consensus.go
  l2geth/consensus/ethash/consensus.go
  l2geth/core/blockchain.go
  l2geth/core/bloombits/scheduler.go
  l2geth/core/events.go
  l2geth/core/types/scheduler.go
  l2geth/core/types/scheduler_test.go
  l2geth/core/types/transaction_meta.go
  l2geth/eth/api_backend.go
  l2geth/eth/backend.go
  l2geth/eth/consensus_handler.go
  l2geth/eth/handler.go
  l2geth/eth/peer.go
  l2geth/miner/worker.go
  l2geth/rollup/sync_service.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#376 Fix reorg msg log
  l2geth/core/state_transition.go
  l2geth/core/vm/evm.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#382 upgrade hardhat network to ^2.12.0
  ops/docker/hardhat/package.json
Labels: 2-reviewers, M-ops

#385 R4R: Implement scheduler and sequencer produce block inturn
  l2geth/consensus/clique/clique.go
  l2geth/consensus/clique/scheduler.go
  l2geth/consensus/clique/scheduler_test.go
  l2geth/consensus/clique/snapshot.go
  l2geth/core/types/scheduler.go
  l2geth/eth/api_backend.go
  l2geth/eth/backend.go
  l2geth/eth/consensus_handler.go
  l2geth/eth/handler.go
  l2geth/eth/peer.go
  l2geth/miner/worker.go
  l2geth/rollup/sync_service.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#352 [WIP] : Add control Msgs
  l2geth/cmd/geth/retesteth.go
  l2geth/consensus/clique/clique.go
  l2geth/consensus/clique/clique_test.go
  l2geth/consensus/clique/producer.go
  l2geth/consensus/clique/producer_test.go
  l2geth/consensus/clique/scheduler.go
  l2geth/consensus/clique/scheduler_test.go
  l2geth/consensus/clique/sequencer.go
  l2geth/consensus/clique/sequencer/server.go
  l2geth/consensus/clique/sequencer_server.go
  l2geth/consensus/clique/sequencer_set.go
  l2geth/consensus/clique/sequencer_set_test.go
  l2geth/consensus/clique/sequencer_test.go
  l2geth/consensus/clique/snapshot.go
  l2geth/consensus/clique/synchronizer/bindings/sequencer.go
  l2geth/consensus/clique/synchronizer/server.go
  l2geth/consensus/clique/types.go
  l2geth/consensus/consensus.go
  l2geth/consensus/ethash/consensus.go
  l2geth/core/blockchain.go
  l2geth/core/bloombits/scheduler.go
  l2geth/core/events.go
  l2geth/core/tx_pool.go
  l2geth/core/types/scheduler.go
  l2geth/core/types/scheduler_test.go
  l2geth/core/types/transaction_meta.go
  l2geth/eth/api_backend.go
  l2geth/eth/backend.go
  l2geth/eth/consensus_handler.go
  l2geth/eth/consensus_protocol.go
  l2geth/eth/handler.go
  l2geth/eth/peer.go
  l2geth/miner/miner.go
  l2geth/miner/worker.go
  l2geth/rollup/sync_service.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#393 R4R: fix sync serice consistency issue
  l2geth/consensus/clique/clique.go
  l2geth/consensus/clique/scheduler.go
  l2geth/core/blockchain.go
  l2geth/core/rawdb/accessors_chain.go
  l2geth/core/state_processor.go
  l2geth/eth/backend.go
  l2geth/eth/handler.go
  l2geth/eth/peer.go
  l2geth/eth/protocol.go
  l2geth/miner/worker.go
  l2geth/rollup/sync_service.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#390 P2P ID Check When Add Peer
  l2geth/consensus/clique/scheduler.go
  l2geth/consensus/clique/scheduler_test.go
  l2geth/consensus/clique/sequencer.go
  l2geth/consensus/clique/sequencer_set_test.go
  l2geth/consensus/clique/sequencer_test.go
  l2geth/core/events.go
  l2geth/core/types/scheduler.go
  l2geth/eth/backend.go
  l2geth/eth/consensus_handler.go
  l2geth/eth/handler.go
  l2geth/p2p/server.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#407 WIP: Only scheduler can produce block, other sequencer only propose tx set
  l2geth/cmd/geth/main.go
  l2geth/cmd/geth/retesteth.go
  l2geth/cmd/utils/flags.go
  l2geth/consensus/clique/clique.go
  l2geth/consensus/clique/clique_test.go
  l2geth/consensus/clique/scheduler.go
  l2geth/consensus/clique/scheduler_test.go
  l2geth/consensus/clique/snapshot.go
  l2geth/consensus/consensus.go
  l2geth/consensus/ethash/sealer.go
  l2geth/core/blockchain.go
  l2geth/core/events.go
  l2geth/core/state_processor.go
  l2geth/core/tx_pool.go
  l2geth/core/types/scheduler.go
  l2geth/eth/api_backend.go
  l2geth/eth/backend.go
  l2geth/eth/consensus_handler.go
  l2geth/eth/consensus_protocol.go
  l2geth/eth/handler.go
  l2geth/eth/peer.go
  l2geth/miner/miner.go
  l2geth/miner/worker.go
  l2geth/rollup/config.go
  l2geth/rollup/sync_service.go
  l2geth/rollup/sync_service_test.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#422 Wb/decentralized sequencers cluster
  .gitignore
  batch-submitter/Dockerfile
  gas-oracle/Dockerfile
  l2geth-exporter/Dockerfile
  l2geth/Dockerfile
  l2geth/cmd/utils/flags.go
  l2geth/consensus/clique/synchronizer/server.go
  ops/Makefile
  ops/chaintestdata/scheduler/README.md
  ops/chaintestdata/scheduler/geth/chaindata/CURRENT
  ops/chaintestdata/scheduler/geth/chaindata/LOCK
  ops/chaintestdata/scheduler/geth/chaindata/LOG
  ops/chaintestdata/scheduler/geth/chaindata/MANIFEST-000000
  ops/chaintestdata/scheduler/geth/lightchaindata/CURRENT
  ops/chaintestdata/scheduler/geth/lightchaindata/LOCK
  ops/chaintestdata/scheduler/geth/lightchaindata/LOG
  ops/chaintestdata/scheduler/geth/lightchaindata/MANIFEST-000000
  ops/chaintestdata/scheduler/geth/nodekey
  ops/chaintestdata/sequencer1/README.md
  ops/chaintestdata/sequencer1/geth/chaindata/CURRENT
  ops/chaintestdata/sequencer1/geth/chaindata/LOCK
  ops/chaintestdata/sequencer1/geth/chaindata/LOG
  ops/chaintestdata/sequencer1/geth/chaindata/MANIFEST-000000
  ops/chaintestdata/sequencer1/geth/lightchaindata/CURRENT
  ops/chaintestdata/sequencer1/geth/lightchaindata/LOCK
  ops/chaintestdata/sequencer1/geth/lightchaindata/LOG
  ops/chaintestdata/sequencer1/geth/lightchaindata/MANIFEST-000000
  ops/chaintestdata/sequencer1/geth/nodekey
  ops/chaintestdata/sequencer2/README.md
  ops/chaintestdata/sequencer2/geth/chaindata/CURRENT
  ops/chaintestdata/sequencer2/geth/chaindata/LOCK
  ops/chaintestdata/sequencer2/geth/chaindata/LOG
  ops/chaintestdata/sequencer2/geth/chaindata/MANIFEST-000000
  ops/chaintestdata/sequencer2/geth/lightchaindata/CURRENT
  ops/chaintestdata/sequencer2/geth/lightchaindata/LOCK
  ops/chaintestdata/sequencer2/geth/lightchaindata/LOG
  ops/chaintestdata/sequencer2/geth/lightchaindata/MANIFEST-000000
  ops/chaintestdata/sequencer2/geth/nodekey
  ops/docker-compose.local.yml
  ops/docker-compose.yml
  ops/scripts/geth.sh
  packages/contracts/deploy/009.2-Sequencer.ts
  proxyd/Dockerfile
  scheduler/Dockerfile
Labels: 2-reviewers, M-l2geth, M-contracts, C-Protocol-Critical, M-ops

#402 Add scheduler select miner
  l2geth/consensus/clique/scheduler.go
  l2geth/eth/backend.go
  l2geth/eth/consensus_handler.go
  l2geth/eth/handler.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#427 remove teleportr files
  integration-tests/go-tests/contracts/L1/teleportr/TeleportrDeposit.sol/TeleportrDeposit.dbg.json
  integration-tests/go-tests/contracts/L1/teleportr/TeleportrDeposit.sol/TeleportrDeposit.go
  integration-tests/go-tests/contracts/L1/teleportr/TeleportrDeposit.sol/TeleportrDeposit.json
  integration-tests/go-tests/contracts/L2/teleportr/TeleportrDisburser.sol/TeleportrDisburser.dbg.json
  integration-tests/go-tests/contracts/L2/teleportr/TeleportrDisburser.sol/TeleportrDisburser.go
  integration-tests/go-tests/contracts/L2/teleportr/TeleportrDisburser.sol/TeleportrDisburser.json
  package.json
  packages/contracts/contracts/L1/teleportr/TeleportrDeposit.sol
  packages/contracts/contracts/L2/teleportr/TeleportrDisburser.sol
  packages/contracts/docs/TeleportrDeposit.md
  packages/contracts/docs/TeleportrDisburser.md
  packages/contracts/tasks/deploy-teleportr.ts
  packages/contracts/tasks/index.ts
  packages/contracts/test/contracts/L1/teleportr/TeleportrDeposit.spec.ts
  packages/contracts/test/contracts/L2/teleportr/TeleportrDisburser.spec.ts
Labels: 2-reviewers, M-integration, M-contracts, C-Protocol-Critical

#424 update golang version to 1.9 and change go-libp2p to the updatest
  tss/go.mod
  tss/go.sum
  tss/node/tsslib/abnormal/manager.go
  tss/node/tsslib/abnormal/policy.go
  tss/node/tsslib/common/tss.go
  tss/node/tsslib/conversion/conversion.go
  tss/node/tsslib/conversion/key_provider.go
  tss/node/tsslib/keysign.go
  tss/node/tsslib/messages/p2p_message.go
  tss/node/tsslib/p2p/communication.go
  tss/node/tsslib/p2p/communication_test.go
  tss/node/tsslib/p2p/peer_address.go
  tss/node/tsslib/p2p/stream_helper.go
  tss/node/tsslib/storage/localstate_mgr.go
  tss/node/tsslib/tss.go
Labels: sprint 12/16

#433 eigenda rollup data len fix for eigen node bls sign
  mt-batcher/config.go
  mt-batcher/flags/flags.go
  mt-batcher/mt_batcher.go
  mt-batcher/sequencer/driver.go
  packages/contracts/deploy-config/goerli-qa.ts
  packages/contracts/deploy-config/goerli-testnet.ts
  packages/contracts/deploy-config/hardhat.ts
  packages/contracts/deploy-config/local.ts
  packages/contracts/deploy-config/mainnet.ts
  packages/contracts/filenames.txt
  packages/contracts/genesis/local.json
  packages/contracts/genesis/state-dump.latest.json
  subsidy/.gitignore
Labels: 2-reviewers, M-contracts

#432 Sequencer BatchPeriodAnswerMsg process
  l2geth/consensus/clique/scheduler.go
  l2geth/core/types/scheduler.go
  l2geth/eth/consensus_handler.go
  l2geth/miner/worker.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#439 Add send tx sync service pre check
  l2geth/eth/api_backend.go
  l2geth/rollup/sync_service.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#430 L2geth rollback
  go.work.sum
  l2geth/contracts/message/message.go
  l2geth/contracts/message/message_test.go
  l2geth/core/vm/evm.go
  l2geth/eth/gasprice/rollup_gasprice.go
  l2geth/go.sum
  l2geth/rollup/dump/constants.go
  l2geth/rollup/rcfg/config.go
  l2geth/rollup/sync_service.go
  packages/contracts/contracts/L1/rollup/IStateCommitmentChain.sol
  packages/contracts/contracts/L1/rollup/StateCommitmentChain.sol
  packages/contracts/contracts/L2/predeploys/BVM_GasPriceOracle.sol
  packages/contracts/hardhat.config.ts
  packages/contracts/src/deploy-config.ts
  packages/contracts/tasks/take-dump.ts
Labels: 2-reviewers, M-l2geth, M-contracts, C-Protocol-Critical, epic

#454 Hotfix/tss rollback optimization
  batch-submitter/drivers/proposer/driver.go
  go.work.sum
  ops/config/tss-manager-config.toml
  tss/manager/manage.go
  tss/node/signer/process.go
  tss/node/signer/sign_rollback.go
  tss/node/signer/verify.go
Labels: 2-reviewers, M-ops

#455 fix dec seq deploy
  Dockerfile
  l2geth/go.sum
  ops/docker/Dockerfile.packages
Labels: 2-reviewers, M-l2geth, M-ops

#457 R4R: bugfix scheduler can't start issue
  l2geth/miner/worker.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#440 Jay/decentralized sequencers
  go.work.sum
  l2geth/core/blockchain.go
  l2geth/eth/backend.go
  l2geth/rollup/sync_service.go
  l2geth/rollup/sync_service_test.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#463 conflict resolve for filenames-qa.txt
  packages/contracts/filenames-qa.txt
Labels: 2-reviewers, M-contracts

#466 R4R: donot check authority in verifier mode
  l2geth/consensus/clique/clique.go
  l2geth/consensus/clique/snapshot.go
  l2geth/eth/backend.go
  l2geth/params/config.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#470 optimize deploy sh only gen addresses json local
  ops/scripts/deployer.sh
Labels: 2-reviewers, M-ops

#471 sdk docs url link change
  packages/sdk/README.md
Labels: M-sdk

#456 Clique Config Set
  l2geth/cmd/geth/main.go
  l2geth/cmd/utils/flags.go
  l2geth/consensus/clique/scheduler.go
  l2geth/core/rawdb/accessors_chain.go
  l2geth/core/rawdb/schema.go
  l2geth/eth/backend.go
  l2geth/eth/config.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#472 Merge main
  batch-submitter/drivers/proposer/driver.go
  go.work.sum
  l2geth/contracts/message/message.go
  l2geth/contracts/message/message_test.go
  l2geth/core/vm/evm.go
  l2geth/eth/gasprice/rollup_gasprice.go
  l2geth/rollup/dump/constants.go
  l2geth/rollup/rcfg/config.go
  l2geth/rollup/sync_service.go
  mt-batcher/config.go
  mt-batcher/flags/flags.go
  mt-batcher/mt_batcher.go
  mt-batcher/sequencer/driver.go
  ops/config/tss-manager-config.toml
  ops/scripts/deployer.sh
  packages/contracts/contracts/L1/rollup/IStateCommitmentChain.sol
  packages/contracts/contracts/L1/rollup/StateCommitmentChain.sol
  packages/contracts/contracts/L2/predeploys/BVM_GasPriceOracle.sol
  packages/contracts/deploy-config/goerli-qa.ts
  packages/contracts/deploy-config/goerli-testnet.ts
  packages/contracts/deploy-config/hardhat.ts
  packages/contracts/deploy-config/local.ts
  packages/contracts/deploy-config/mainnet.ts
  packages/contracts/filenames-qa.txt
  packages/contracts/filenames.txt
  packages/contracts/genesis/local.json
  packages/contracts/genesis/state-dump.latest.json
  packages/contracts/hardhat.config.ts
  packages/contracts/src/deploy-config.ts
  packages/contracts/tasks/take-dump.ts
  packages/sdk/README.md
  subsidy/.gitignore
  tss/manager/manage.go
  tss/node/signer/process.go
  tss/node/signer/sign_rollback.go
  tss/node/signer/verify.go
Labels: 2-reviewers, M-l2geth, M-contracts, M-sdk, C-Protocol-Critical, M-ops

#479 add release 0.2.0 release notes
  CHANGELOG.md
  packages/sdk/README.md
Labels: M-sdk

#480 contract deploy 20221223
  packages/contracts/deployments/goerli-qa/Lib_AddressManager.json
  packages/contracts/deployments/goerli-qa/Proxy__BVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/goerli-qa/Proxy__BVM_L1StandardBridge.json
  packages/contracts/deployments/goerli-qa/StateCommitmentChain.json
Labels: 2-reviewers, M-contracts

#483 add_sdk_workflow_job
  .github/workflows/gh-pages.yaml
Labels: 2-reviewers

#484 R4R: Double check decentralized sequencers
  CONTRIBUTING.md
  go.work
  l2geth/accounts/accounts.go
  l2geth/accounts/keystore/file_cache.go
  l2geth/cmd/geth/retesteth.go
  l2geth/cmd/geth/usage.go
  l2geth/consensus/clique/clique.go
  l2geth/consensus/clique/clique_test.go
  l2geth/consensus/clique/snapshot_test.go
  l2geth/consensus/consensus.go
  l2geth/consensus/ethash/consensus.go
  l2geth/core/blockchain.go
  l2geth/core/bloombits/scheduler.go
  l2geth/core/events.go
  l2geth/core/genesis.go
  l2geth/core/state_processor.go
  l2geth/core/types/scheduler.go
  l2geth/core/types/transaction_meta.go
  l2geth/eth/backend.go
  l2geth/eth/handler.go
  l2geth/miner/miner.go
  l2geth/miner/worker.go
  l2geth/miner/worker_test.go
  l2geth/p2p/server.go
  l2geth/rollup/sync_service.go
  l2geth/rollup/sync_service_test.go
  scheduler/.gitignore
  scheduler/CHANGELOG.md
  scheduler/Dockerfile
  scheduler/Makefile
  scheduler/bindings/ctc/canonical_transaction_chain.go
  scheduler/bindings/scc/state_commitment_chain.go
  scheduler/bindings/sequencer/sequencer.go
  scheduler/cmd/scheduler/main.go
  scheduler/config.go
  scheduler/config_test.go
  scheduler/docker.go.work
  scheduler/drivers/scheduler/driver.go
  scheduler/drivers/scheduler/sequencer.go
  scheduler/drivers/scheduler/sequencer_set.go
  scheduler/drivers/scheduler/sequencer_set_test.go
  scheduler/drivers/scheduler/sequencer_test.go
  scheduler/flags/flags.go
  scheduler/flags/flags_test.go
  scheduler/go.mod
  scheduler/go.sum
  scheduler/package.json
  scheduler/scheduler.go
  scheduler/service/service.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#486 R4R: Pick out missing change in PR 465
  l2geth/consensus/clique/clique.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#485 Add sdk workflow job
  .github/workflows/gh-pages.yaml
Labels: 2-reviewers

#461 make scc configable
  ops/scripts/deployer.sh
  packages/contracts/contracts/L1/rollup/StateCommitmentChain.sol
  packages/contracts/deploy-config/goerli-testnet.ts
  packages/contracts/deployments/goerli-qa/Lib_AddressManager.json
  packages/contracts/deployments/goerli-qa/Proxy__BVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/goerli-qa/Proxy__BVM_L1StandardBridge.json
  packages/contracts/deployments/goerli-qa/StateCommitmentChain.json
  packages/contracts/deployments/goerli-testnet/Lib_AddressManager.json
  packages/contracts/deployments/goerli-testnet/Proxy__BVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/goerli-testnet/Proxy__BVM_L1StandardBridge.json
  packages/contracts/deployments/goerli-testnet/StateCommitmentChain.json
  packages/contracts/hardhat.config.ts
Labels: 2-reviewers, M-contracts, C-Protocol-Critical, M-ops

#492 Peer check
  l2geth/eth/backend.go
  l2geth/eth/consensus_handler.go
  l2geth/eth/handler.go
Labels: 2-reviewers, M-l2geth, M-contracts, C-Protocol-Critical, M-ops

#499 R4R: Pick out missing change in PR 465
  l2geth/consensus/clique/clique.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#500 testnet deployment 1229
  packages/contracts/deployments/goerli-testnet/Lib_AddressManager.json
  packages/contracts/deployments/goerli-testnet/Proxy__BVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/goerli-testnet/Proxy__BVM_L1StandardBridge.json
  packages/contracts/deployments/goerli-testnet/StateCommitmentChain.json
  packages/sdk/src/utils/contracts.ts
Labels: 2-reviewers, M-contracts, M-sdk

#502 testnet deployment 1229
  packages/contracts/deployments/goerli-testnet/Lib_AddressManager.json
  packages/contracts/deployments/goerli-testnet/Proxy__BVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/goerli-testnet/Proxy__BVM_L1StandardBridge.json
  packages/contracts/deployments/goerli-testnet/StateCommitmentChain.json
  packages/sdk/src/utils/contracts.ts
Labels: 2-reviewers, M-contracts, M-sdk

#503 add go proxy for batch-submitter,gas-oracle
  batch-submitter/Dockerfile
  gas-oracle/Dockerfile
  l2geth/Dockerfile
Labels: 2-reviewers, M-l2geth
