Repository mantlenetworkio/mantle, pull requests merged in 2022-08, with the labels that each got.

#5 contract sdk bug fix
  integration-tests/package.json
  packages/common-ts/package.json
  packages/contracts-periphery/.depcheckrc
  packages/contracts-periphery/package.json
  packages/contracts/package.json
  packages/core-utils/package.json
  packages/core-utils/src/bitnetwork/hashing.ts
  packages/data-transport-layer/package.json
  packages/drippie-mon/package.json
  packages/message-relayer/package.json
  packages/replica-healthcheck/package.json
  packages/sdk/hardhat.config.ts
  packages/sdk/package.json
  packages/sdk/src/adapters/eth-bridge.ts
  packages/sdk/src/cross-chain-messenger.ts
  packages/sdk/src/interfaces/cross-chain-messenger.ts
  packages/sdk/src/interfaces/types.ts
  packages/sdk/src/utils/chain-constants.ts
  packages/sdk/src/utils/contracts.ts
  packages/sdk/tasks/deposit.ts
  packages/sdk/test/cross-chain-messenger.spec.ts
Labels: 2-reviewers, M-integration, M-contracts, M-contracts-periphery, M-core-utils, M-dtl, M-sdk

#6 reuse pre-deployed contracts on goerli
  ops/scripts/redeployer.sh
  packages/contracts/balance.json
  packages/contracts/deploy-config/goerlibn.ts
  packages/contracts/deployments/goerlibn/.chainId
  packages/contracts/deployments/goerlibn/AddressDictator.json
  packages/contracts/deployments/goerlibn/BVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/goerlibn/BondManager.json
  packages/contracts/deployments/goerlibn/CanonicalTransactionChain.json
  packages/contracts/deployments/goerlibn/ChainStorageContainer-CTC-batches.json
  packages/contracts/deployments/goerlibn/ChainStorageContainer-SCC-batches.json
  packages/contracts/deployments/goerlibn/ChugSplashDictator.json
  packages/contracts/deployments/goerlibn/L1StandardBridge_for_verification_only.json
  packages/contracts/deployments/goerlibn/Lib_AddressManager.json
  packages/contracts/deployments/goerlibn/Proxy__BVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/goerlibn/Proxy__BVM_L1StandardBridge.json
  packages/contracts/deployments/goerlibn/StateCommitmentChain.json
  packages/contracts/deployments/goerlibn/solcInputs/0774f4a7bca3ffa5ba368d60e2fa1469.json
  packages/contracts/deployments/goerlibn/solcInputs/08affdd657ddd7029dac840d18bf73dc.json
  packages/contracts/deployments/goerlibn/solcInputs/11f7245fe9645bc0d33fd640c775c950.json
  packages/contracts/deployments/goerlibn/solcInputs/1354fa13878aef4ed343350c5664b4b8.json
  packages/contracts/deployments/goerlibn/solcInputs/27273226112d76d5b38f94e438bc4223.json
  packages/contracts/deployments/goerlibn/solcInputs/666d47fb5c3cb5d2cbd8426c82638cc1.json
  packages/contracts/deployments/goerlibn/solcInputs/7ad957919c3e4d14b163874ea7283859.json
  packages/contracts/deployments/goerlibn/solcInputs/a61168418541027462f3d857e336c04c.json
  packages/contracts/deployments/goerlibn/solcInputs/b705977d7e903e159e8e246086735870.json
  packages/contracts/deployments/goerlibn/solcInputs/bdf1a6f40eaf4acf0889cc8300776393.json
  packages/contracts/deployments/goerlibn/solcInputs/e7b098eb8a742973266b7e4b7e584b9d.json
  packages/contracts/hardhat.config.ts
Labels: 2-reviewers, M-contracts, M-ops

#18 fix integration_test
  integration-tests/test/bvmcontext.spec.ts
  integration-tests/test/fee-payment.spec.ts
  integration-tests/test/whitelist.spec.ts
Labels: M-integration

#21 update the contracts in `qa`
  integration-tests/package.json
  packages/contracts/deploy-config/goerlibn.ts
  packages/contracts/deployments/goerlibn/AddressDictator.json
  packages/contracts/deployments/goerlibn/BVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/goerlibn/BondManager.json
  packages/contracts/deployments/goerlibn/CanonicalTransactionChain.json
  packages/contracts/deployments/goerlibn/ChainStorageContainer-CTC-batches.json
  packages/contracts/deployments/goerlibn/ChainStorageContainer-SCC-batches.json
  packages/contracts/deployments/goerlibn/ChugSplashDictator.json
  packages/contracts/deployments/goerlibn/L1StandardBridge_for_verification_only.json
  packages/contracts/deployments/goerlibn/Lib_AddressManager.json
  packages/contracts/deployments/goerlibn/Proxy__BVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/goerlibn/Proxy__BVM_L1StandardBridge.json
  packages/contracts/deployments/goerlibn/StateCommitmentChain.json
  packages/drippie-mon/package.json
  packages/message-relayer/package.json
  packages/sdk/package.json
  packages/sdk/src/interfaces/types.ts
  packages/sdk/src/utils/chain-constants.ts
  packages/sdk/src/utils/contracts.ts
Labels: 2-reviewers, M-integration, M-contracts, M-sdk

#34 tss manager signing process
  tss/go.mod
  tss/go.sum
  tss/manager/agreement.go
  tss/manager/agreement_test.go
  tss/manager/cmd.go
  tss/manager/keygen.go
  tss/manager/l1chain/service.go
  tss/manager/manage.go
  tss/manager/process.go
  tss/manager/router/registry.go
  tss/manager/sign.go
  tss/manager/store/cpk.go
  tss/manager/store/keys.go
  tss/manager/store/storage.go
  tss/manager/types/interface.go
  tss/manager/types/types.go
  tss/types/types.go
  tss/ws/server/handler.go
  tss/ws/server/server.go
  tss/ws/server/types.go
Labels: task

#42 new-dev-local
  .dockerignore
  ops/Makefile.local
  ops/README.local.md
  ops/docker-compose.local.yml
  ops/docker-compose.yml
  ops/template.local.env
  packages/contracts/deploy-config/local.ts
Labels: 2-reviewers, M-contracts, M-ops

#53 fix cross domain message
  packages/sdk/test/contracts/MessageEncodingHelper.sol
  packages/sdk/test/contracts/MockBridge.sol
  packages/sdk/test/contracts/MockMessenger.sol
  packages/sdk/test/cross-chain-messenger.spec.ts
Labels: M-sdk

#47 Restore fault detector
  .gitignore
  ops/docker-compose.yml
  packages/fault-detector/.depcheckrc
  packages/fault-detector/.env.example
  packages/fault-detector/.eslintrc.js
  packages/fault-detector/.gitignore
  packages/fault-detector/.lintstagedrc.yml
  packages/fault-detector/.prettierrc.js
  packages/fault-detector/CHANGELOG.md
  packages/fault-detector/LICENSE
  packages/fault-detector/README.md
  packages/fault-detector/hardhat.config.ts
  packages/fault-detector/package.json
  packages/fault-detector/src/helpers.ts
  packages/fault-detector/src/index.ts
  packages/fault-detector/src/service.ts
  packages/fault-detector/test/helpers.spec.ts
  packages/fault-detector/test/setup.ts
  packages/fault-detector/tsconfig.json
  yarn.lock
Labels: 2-reviewers, M-ops

#57 support up/start/stop a single service
  ops/Makefile.local
  ops/README.local.md
Labels: 2-reviewers, M-ops

#63 remove redeployer.sh
  ops/scripts/deployer.sh
  ops/scripts/redeployer.sh
Labels: 2-reviewers, M-ops

#67 Add staking & slashing contract , update tss group contract
  packages/contracts/contracts/L1/tss/IStakingSlashing.sol
  packages/contracts/contracts/L1/tss/ITssGroupManager.sol
  packages/contracts/contracts/L1/tss/StakingSlashing.sol
  packages/contracts/contracts/L1/tss/TssGroupManager.sol
  packages/contracts/test/contracts/L1/tss/TssGroupMannager.ts
  packages/contracts/test/contracts/L1/tss/stakingSlashing.ts
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#58 compose-add-second-l2geth-service
  ops/docker-compose.local.yml
  ops/docker-compose.yml
Labels: 2-reviewers, M-ops

#69 feat: add data volume for l1_chain l2geth verifier
  .dockerignore
  .gitignore
  ops/Makefile.local
  ops/README.local.md
  ops/docker-compose.yml
Labels: 2-reviewers, M-ops

#72 [fix]: fix docker compose
  ops/docker-compose.yml
Labels: 2-reviewers, M-ops

#76 qa fix & add `init-key.sh`
  gas-oracle/Dockerfile
  gas-oracle/gas-oracle.sh
  integration-tests/package.json
  ops/docker/initl1/Dockerfile
  ops/scripts/README.md
  ops/scripts/batch-submitter.sh
  ops/scripts/init-key.sh
  ops/scripts/init-l1-contract.sh
  packages/contracts/balance.json
  packages/contracts/deploy-config/goerli-qa.ts
  packages/contracts/deployments/goerli-qa/.chainId
  packages/contracts/deployments/goerli-qa/AddressDictator.json
  packages/contracts/deployments/goerli-qa/BVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/goerli-qa/BondManager.json
  packages/contracts/deployments/goerli-qa/CanonicalTransactionChain.json
  packages/contracts/deployments/goerli-qa/ChainStorageContainer-CTC-batches.json
  packages/contracts/deployments/goerli-qa/ChainStorageContainer-SCC-batches.json
  packages/contracts/deployments/goerli-qa/ChugSplashDictator.json
  packages/contracts/deployments/goerli-qa/L1StandardBridge_for_verification_only.json
  packages/contracts/deployments/goerli-qa/Lib_AddressManager.json
  packages/contracts/deployments/goerli-qa/Proxy__BVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/goerli-qa/Proxy__BVM_L1StandardBridge.json
  packages/contracts/deployments/goerli-qa/StateCommitmentChain.json
  packages/contracts/deployments/goerli-qa/solcInputs/0774f4a7bca3ffa5ba368d60e2fa1469.json
  packages/contracts/deployments/goerli-qa/solcInputs/08affdd657ddd7029dac840d18bf73dc.json
  packages/contracts/deployments/goerli-qa/solcInputs/11f7245fe9645bc0d33fd640c775c950.json
  packages/contracts/deployments/goerli-qa/solcInputs/1354fa13878aef4ed343350c5664b4b8.json
  packages/contracts/deployments/goerli-qa/solcInputs/27273226112d76d5b38f94e438bc4223.json
  packages/contracts/deployments/goerli-qa/solcInputs/666d47fb5c3cb5d2cbd8426c82638cc1.json
  packages/contracts/deployments/goerli-qa/solcInputs/7ad957919c3e4d14b163874ea7283859.json
  packages/contracts/deployments/goerli-qa/solcInputs/a61168418541027462f3d857e336c04c.json
  packages/contracts/deployments/goerli-qa/solcInputs/b705977d7e903e159e8e246086735870.json
  packages/contracts/deployments/goerli-qa/solcInputs/bdf1a6f40eaf4acf0889cc8300776393.json
  packages/contracts/deployments/goerli-qa/solcInputs/e7b098eb8a742973266b7e4b7e584b9d.json
  packages/contracts/hardhat.config.ts
  packages/drippie-mon/package.json
  packages/fault-detector/package.json
  packages/message-relayer/package.json
  packages/sdk/package.json
  packages/sdk/src/utils/contracts.ts
  yarn.lock
Labels: 2-reviewers, M-integration, M-contracts, M-sdk, M-ops
