Repository mantlenetworkio/mantle, pull requests merged in 2022-11, with the labels that each got.

#189 sdk upgrade for qanet
  integration-tests/package.json
  packages/contracts/docs/TssGroupManager.md
  packages/message-relayer/package.json
  packages/sdk/package.json
  packages/sdk/src/utils/contracts.ts
Labels: 2-reviewers, M-integration, M-contracts, M-sdk

#193 Refactor clique consensus
  l2geth/consensus/clique/clique.go
  l2geth/consensus/clique/producer.go
  l2geth/consensus/clique/producer_test.go
  l2geth/consensus/clique/sequencer.go
  l2geth/consensus/clique/sequencer_set.go
  l2geth/consensus/clique/sequencer_set_test.go
  l2geth/consensus/clique/sequencer_test.go
  l2geth/consensus/clique/snapshot.go
  l2geth/consensus/coterie/api.go
  l2geth/consensus/coterie/coterie.go
  l2geth/consensus/coterie/producer.go
  l2geth/eth/backend.go
  l2geth/eth/consensus_handler.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#194 fix
  ops/scripts/deployer.sh
Labels: 2-reviewers, M-ops

#198 Remove system address related code
  integration-tests/test/shared/utils.ts
  integration-tests/test/system-addresses.spec.ts
  l2geth/core/state_processor.go
  l2geth/core/types/receipt.go
  l2geth/core/vm/evm.go
  l2geth/rollup/rcfg/system_address.go
  l2geth/rollup/rcfg/system_address_test.go
  ops/docker-compose.yml
  packages/contracts/src/predeploys.ts
Labels: 2-reviewers, M-l2geth, M-integration, M-contracts, C-Protocol-Critical, M-ops

#249 feat: sdk-contract-address-support-environment-variable
  packages/sdk/src/utils/contracts.ts
Labels: M-sdk

#250 feat: sdk bump version to 2.0.4
  integration-tests/package.json
  packages/fault-detector/package.json
  packages/message-relayer/package.json
  packages/sdk/package.json
Labels: 2-reviewers, M-integration, M-sdk

#253 goerli-testnet-contract
  packages/contracts/deployments/goerli-testnet/.chainId
  packages/contracts/deployments/goerli-testnet/AddressDictator.json
  packages/contracts/deployments/goerli-testnet/BVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/goerli-testnet/BondManager.json
  packages/contracts/deployments/goerli-testnet/CanonicalTransactionChain.json
  packages/contracts/deployments/goerli-testnet/ChainStorageContainer-CTC-batches.json
  packages/contracts/deployments/goerli-testnet/ChainStorageContainer-SCC-batches.json
  packages/contracts/deployments/goerli-testnet/ChugSplashDictator.json
  packages/contracts/deployments/goerli-testnet/L1StandardBridge_for_verification_only.json
  packages/contracts/deployments/goerli-testnet/Lib_AddressManager.json
  packages/contracts/deployments/goerli-testnet/Proxy__BVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/goerli-testnet/Proxy__BVM_L1StandardBridge.json
  packages/contracts/deployments/goerli-testnet/Proxy__TSS_GroupManager.json
  packages/contracts/deployments/goerli-testnet/Proxy__TSS_StakingSlashing.json
  packages/contracts/deployments/goerli-testnet/StateCommitmentChain.json
  packages/contracts/deployments/goerli-testnet/TestBitToken.json
  packages/contracts/deployments/goerli-testnet/TssGroupManager.json
  packages/contracts/deployments/goerli-testnet/TssStakingSlashing.json
  packages/contracts/deployments/goerli-testnet/solcInputs/05daee8d82d8c9186ab561c1326ac885.json
  packages/contracts/deployments/goerli-testnet/solcInputs/33dd975f5900e5d9afcde0b2f08176e6.json
  packages/contracts/deployments/goerli-testnet/solcInputs/470652c7855c7b4c137a778bf85ced05.json
  packages/contracts/deployments/goerli-testnet/solcInputs/51b783cf777b4491d2b873e656324b32.json
  packages/contracts/deployments/goerli-testnet/solcInputs/51cb30ebb4795fc9873046512e4b02d0.json
  packages/contracts/deployments/goerli-testnet/solcInputs/533f093e1cbf0533cfa4236f9c278f04.json
  packages/contracts/deployments/goerli-testnet/solcInputs/5ae117202d54ddc9bc1a5ec3aef37fda.json
  packages/contracts/deployments/goerli-testnet/solcInputs/6c51083bbdebaf66f0d961e179396c25.json
  packages/contracts/deployments/goerli-testnet/solcInputs/8acabfe308286ab2f10f6c162d3a4ebe.json
  packages/contracts/deployments/goerli-testnet/solcInputs/a81373224f91bf916c72b5465310cfbb.json
  packages/contracts/deployments/goerli-testnet/solcInputs/b2dbb90a071359d5e46f7486ca51b206.json
  packages/contracts/deployments/goerli-testnet/solcInputs/c222fa4c270dc96442aab429b293e05a.json
  packages/contracts/deployments/goerli-testnet/solcInputs/cbd67db0f50c84fb2aab8f022ca3e56e.json
  packages/contracts/deployments/goerli-testnet/solcInputs/cd67d6e3bb8416f746412dddb8b5b34c.json
  packages/contracts/deployments/goerli-testnet/solcInputs/d8513a47d87b30a4d9d4707aa4cba735.json
  packages/contracts/deployments/goerli-testnet/solcInputs/da9cb93e790b9bc476f3697cce768ffe.json
Labels: 2-reviewers, M-contracts

#254 fix: deployer.sh bugfix
  ops/scripts/deployer.sh
Labels: 2-reviewers, M-ops

#252 change sign process to concurrency
  tss/node/signer/sign.go
Labels: sprint 11/18, M-tss

#257 l2geth dtl deployer bump version
  l2geth/package.json
  packages/contracts/package.json
  packages/data-transport-layer/package.json
Labels: 2-reviewers, M-l2geth, M-contracts, M-dtl

#258 sdk bump version 2.1.0
  integration-tests/package.json
  packages/fault-detector/package.json
  packages/message-relayer/package.json
  packages/sdk/package.json
Labels: 2-reviewers, M-integration, M-sdk

#259 contracts bump version
  integration-tests/package.json
  packages/data-transport-layer/package.json
  packages/fault-detector/package.json
  packages/message-relayer/package.json
  packages/sdk/package.json
Labels: 2-reviewers, M-integration, M-dtl, M-sdk

#260 Fix L1 Fee Deduction
  l2geth/core/state_transition.go
  l2geth/rollup/sync_service.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#264 add 5001 into sdk
  packages/sdk/src/interfaces/types.ts
  packages/sdk/src/utils/chain-constants.ts
  packages/sdk/src/utils/contracts.ts
Labels: M-sdk

#265 fix: fix docker build
  .github/workflows/build-image.yml
  ops/docker/Dockerfile.packages
Labels: 2-reviewers, M-ops

#267 fix: fixMANTLE_GOERLI reference
  packages/sdk/src/interfaces/types.ts
  packages/sdk/src/utils/chain-constants.ts
Labels: M-sdk

#269 fix qa address
  packages/sdk/src/utils/contracts.ts
Labels: M-sdk

#270 Add function: setSendAmountPerYear
  packages/contracts/contracts/L2/predeploys/TssRewardContract.sol
  packages/contracts/deployments/local/solcInputs/0edc8c2e478407f08db5112011297438.json
  packages/contracts/docs/TssRewardContract.md
  packages/contracts/tasks/take-dump.ts
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#179 Add upgrade task
  packages/contracts/contracts/test-helpers/L1StandardBridgeUpgrade.sol
  packages/contracts/contracts/test-helpers/TestUpgrade.sol
  packages/contracts/docs/L1StandardBridgeUpgrade.md
  packages/contracts/docs/Test.md
  packages/contracts/docs/TestUpgrade.md
  packages/contracts/tasks/index.ts
  packages/contracts/tasks/upgrade-task.ts
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#273 fix update task
  packages/contracts/tasks/upgrade-task.ts
Labels: 2-reviewers, M-contracts

#277 Update SequencerFeeVault: add Add modifiable parameters
  .gitignore
  packages/contracts/contracts/L2/predeploys/BVM_SequencerFeeVault.sol
  packages/contracts/deploy-config/goerli-qa.ts
  packages/contracts/deploy-config/goerli-testnet.ts
  packages/contracts/deploy-config/hardhat.ts
  packages/contracts/deploy-config/local.ts
  packages/contracts/deploy-config/mainnet.ts
  packages/contracts/deployments/local/.chainId
  packages/contracts/deployments/local/AddressDictator.json
  packages/contracts/deployments/local/BVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/local/BondManager.json
  packages/contracts/deployments/local/CanonicalTransactionChain.json
  packages/contracts/deployments/local/ChainStorageContainer-CTC-batches.json
  packages/contracts/deployments/local/ChainStorageContainer-SCC-batches.json
  packages/contracts/deployments/local/ChugSplashDictator.json
  packages/contracts/deployments/local/L1StandardBridge_for_verification_only.json
  packages/contracts/deployments/local/Lib_AddressManager.json
  packages/contracts/deployments/local/Proxy__BVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/local/Proxy__BVM_L1StandardBridge.json
  packages/contracts/deployments/local/Proxy__TSS_GroupManager.json
  packages/contracts/deployments/local/Proxy__TSS_StakingSlashing.json
  packages/contracts/deployments/local/StateCommitmentChain.json
  packages/contracts/deployments/local/TestBitToken.json
  packages/contracts/deployments/local/TssGroupManager.json
  packages/contracts/deployments/local/TssStakingSlashing.json
  packages/contracts/deployments/local/solcInputs/0edc8c2e478407f08db5112011297438.json
  packages/contracts/deployments/local/solcInputs/407e6c9104238eb4315f250d5189e51c.json
  packages/contracts/deployments/local/solcInputs/78cbf5a3e47d273374641a0798ab8cb7.json
  packages/contracts/docs/BVM_SequencerFeeVault.md
  packages/contracts/genesis/local.json
  packages/contracts/genesis/state-dump.latest.json
  packages/contracts/genesis/state-dump1.latest.json
  packages/contracts/hardhat.config.ts
  packages/contracts/src/deploy-config.ts
  packages/contracts/tasks/take-dump.ts
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#280 Request subsidy
  .github/workflows/build-image.yml
  l2geth/package.json
  subsidy/package.json
  tss/package.json
Labels: 2-reviewers, M-l2geth

#281 add subsidy choice
  .github/workflows/build-image.yml
Labels: 2-reviewers

#282 fix deployer.sh
  ops/scripts/deployer.sh
Labels: 2-reviewers, M-ops

#283 Wb/testnet deploy
  ops/goerli/testnet/docker-compose.goerli.testnet.deploy.yml
  ops/scripts/deployer.sh
  packages/contracts/deploy-config/goerli-testnet.ts
Labels: 2-reviewers, M-contracts, M-ops

#286 Wb/upgrade sdk
  integration-tests/package.json
  packages/fault-detector/package.json
  packages/message-relayer/package.json
  packages/sdk/package.json
  packages/sdk/src/utils/contracts.ts
Labels: 2-reviewers, M-integration, M-sdk

#299 Fix tssReward contract.batchTime update exception
  packages/contracts/contracts/L2/predeploys/TssRewardContract.sol
  packages/contracts/contracts/L2/predeploys/iTssRewardContract.sol
  packages/contracts/docs/ITssRewardContract.md
  packages/contracts/docs/TssRewardContract.md
  packages/contracts/tasks/take-dump.ts
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#320 Adjust Release branch charging logic
  gas-oracle/oracle/base_fee.go
  l2geth/core/state_transition.go
  l2geth/eth/gasprice/rollup_gasprice.go
  l2geth/rollup/rcfg/config.go
  l2geth/rollup/sync_service.go
  packages/contracts/contracts/L2/predeploys/BVM_GasPriceOracle.sol
  packages/contracts/contracts/L2/predeploys/BVM_SequencerFeeVault.sol
  packages/contracts/contracts/L2/predeploys/TssRewardContract.sol
  packages/contracts/contracts/L2/predeploys/iBVM_GasPriceOracle.sol
  packages/contracts/docs/BVM_GasPriceOracle.md
  packages/contracts/docs/IBVM_GasPriceOracle.md
  packages/contracts/genesis/local.json
  packages/contracts/genesis/state-dump.latest.json
  packages/contracts/hardhat.config.ts
  packages/contracts/src/deploy-config.ts
  packages/contracts/tasks/take-dump.ts
Labels: 2-reviewers, M-l2geth, M-contracts, C-Protocol-Critical

#328 Delete automatic burning
  l2geth/contracts/gasfee/gasfee.go
  l2geth/contracts/gasfee/gasfee_test.go
  l2geth/core/state_transition.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#329 Delete automatic burning (#328)
  l2geth/contracts/gasfee/gasfee.go
  l2geth/contracts/gasfee/gasfee_test.go
  l2geth/core/state_transition.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#341 version bump
  gas-oracle/package.json
  l2geth/package.json
Labels: 2-reviewers, M-l2geth

#342 Version patch 1
  gas-oracle/package.json
  l2geth/package.json
Labels: 2-reviewers, M-l2geth

#345 change totalsupply for qa enviroment
  ops/scripts/deployer.sh
Labels: 2-reviewers, M-ops

#354 update addresses.txt
  packages/contracts/addresses-qa.txt
Labels: 2-reviewers, M-contracts

#358 Wb/fix qa deployments
  packages/contracts/.gitignore
  packages/contracts/deploy-config/goerli-qa.ts
  packages/contracts/deployments/README.md
  packages/contracts/deployments/goerli-qa/.chainId
  packages/contracts/deployments/goerli-qa/Lib_AddressManager.json
  packages/contracts/deployments/goerli-qa/Proxy__BVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/goerli-qa/Proxy__BVM_L1StandardBridge.json
  packages/contracts/deployments/goerli-qa/StateCommitmentChain.json
Labels: 2-reviewers, M-contracts

#359 WIP: decentralized sequencers to produce block
  l2geth/consensus/clique/clique.go
  l2geth/consensus/clique/clique_test.go
  l2geth/consensus/clique/proposer.go
  l2geth/consensus/clique/proposer_test.go
  l2geth/consensus/clique/scheduler.go
  l2geth/consensus/clique/sequencer/server.go
  l2geth/consensus/clique/sequencer_set.go
  l2geth/consensus/clique/sequencer_set_test.go
  l2geth/consensus/clique/snapshot.go
  l2geth/consensus/clique/synchronizer/bindings/sequencer.go
  l2geth/consensus/clique/synchronizer/server.go
  l2geth/core/events.go
  l2geth/eth/api_backend.go
  l2geth/eth/backend.go
  l2geth/eth/consensus_handler.go
  l2geth/eth/consensus_protocol.go
  l2geth/eth/handler.go
  l2geth/eth/peer.go
  l2geth/miner/worker.go
  l2geth/rollup/sync_service.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#361 Mock handle reorg
  l2geth/core/state_transition.go
  l2geth/rollup/dump/constants.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical
