Repository mantlenetworkio/mantle, pull requests merged in 2023-02, with the labels that each got.

#602 R4R:Fix PreCheckSyncServiceState and UpdateSyncServiceState
  l2geth/rollup/sync_service.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#614 Eigenda/userfee
  mt-batcher/Makefile
  mt-batcher/bindings/bvm_eigen_datalayr_fee.go
  mt-batcher/config.go
  mt-batcher/flags/flags.go
  mt-batcher/go.mod
  mt-batcher/mt_batcher.go
  mt-batcher/sequencer/driver.go
  mt-challenger/go.mod
  packages/contracts/contracts/da/BVM_EigenDataLayrFee.sol
  packages/contracts/deploy/020-BVM_EigenDataLayrFee.deploy.ts
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#608 R4R:Clean sequencer pre check and fix log
  l2geth/core/blockchain.go
  l2geth/eth/backend.go
  l2geth/rollup/sync_service.go
  l2geth/rollup/sync_service_test.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#610 R4R: import rollup role to simplify devops
  batch-submitter/drivers/proposer/driver.go
  l2geth/cmd/geth/main.go
  l2geth/cmd/geth/usage.go
  l2geth/cmd/utils/flags.go
  l2geth/consensus/clique/scheduler.go
  l2geth/eth/api_backend.go
  l2geth/eth/backend.go
  l2geth/miner/worker.go
  l2geth/rollup/config.go
  l2geth/rollup/sync_service.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#584 R4R:Enhanced verifyFee and handle updateGasPrice tx
  l2geth/consensus/clique/scheduler.go
  l2geth/consensus/clique/scheduler_health.go
  l2geth/core/tx_pool.go
  l2geth/eth/api_backend.go
  l2geth/eth/backend.go
  l2geth/miner/worker.go
  l2geth/rollup/sync_service.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#618 fix contract config and fee logic
  mt-batcher/config.go
  mt-batcher/flags/flags.go
  mt-batcher/mt_batcher.go
  mt-batcher/sequencer/driver.go
  packages/contracts/contracts/da/BVM_EigenDataLayrFee.sol
  packages/contracts/deploy/020-BVM_EigenDataLayrFee.deploy.ts
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#621 R4R:Fix txpool.addTxs api.SendTx
  l2geth/core/tx_pool.go
  l2geth/eth/api_backend.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#626 WIP: Fraud proof contract test
  packages/contracts/contracts/L1/fraud-proof/Rollup.sol
  packages/contracts/contracts/L1/fraud-proof/challenge/Challenge.sol
  packages/contracts/test/contracts/L1/fraud-proof/RollUp.ts
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#631 adjust bit contract deploy order
  packages/contracts/deploy/000.1-deploy-bit-token-erc20.ts
Labels: 2-reviewers, M-contracts

#612 Eigenda/verifier
  go.work.sum
  l2geth/cmd/geth/main.go
  l2geth/cmd/geth/usage.go
  l2geth/cmd/utils/flags.go
  l2geth/core/rawdb/rollup_indexes.go
  l2geth/core/rawdb/schema.go
  l2geth/core/types/transaction.go
  l2geth/rollup/config.go
  l2geth/rollup/eigenda/client.go
  l2geth/rollup/sync_service.go
  l2geth/rollup/types.go
  mt-batcher/Makefile
  mt-batcher/cmd/mt-batcher/main.go
  mt-batcher/config.go
  mt-batcher/flags/flags.go
  mt-batcher/go.mod
  mt-batcher/go.sum
  mt-batcher/metrics/metrics.go
  mt-batcher/mt_batcher.go
  mt-batcher/sequencer/batch_tx.go
  mt-batcher/services/common/base.go
  mt-batcher/services/common/crypto.go
  mt-batcher/services/common/types.go
  mt-batcher/services/restorer/handle.go
  mt-batcher/services/restorer/service.go
  mt-batcher/services/sequencer/driver.go
  mt-challenger/Makefile
  mt-challenger/challenger/challenger.go
  mt-challenger/go.mod
  mt-challenger/go.sum
  ops/chaintestdata/sequencer1/config.toml
  ops/chaintestdata/sequencer2/config.toml
  packages/contracts/addresses.json
  packages/contracts/addresses.txt
  packages/contracts/deploy/deploy-bit-token-erc20.ts
  packages/contracts/filenames.txt
  packages/contracts/genesis/addresses.json
  packages/contracts/genesis/local.json
  packages/contracts/genesis/state-dump.latest.json
Labels: 2-reviewers, M-l2geth, M-contracts, C-Protocol-Critical, M-ops

#633 adjust the deployment order of test bit token
  packages/contracts/deploy/000.1-deploy-bit-token-erc20.ts
Labels: 2-reviewers, M-contracts

#635 R4R:Replace l1 Tx when rollback and Tx in Block not equal enqueue Tx
  l2geth/rollup/sync_service.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#636 Update deployer.sh
  ops/scripts/deployer.sh
Labels: 2-reviewers, M-ops

#637 R4R:Replace l1 Tx when rollback and Tx in Block not equal enqueue Tx
  l2geth/rollup/sync_service.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#641 adjust the deployment order of test bit token
  packages/contracts/deploy/000.1-deploy-bit-token-erc20.ts
Labels: 2-reviewers, M-contracts

#642 R4R: cleanup redundant flag
  l2geth/cmd/geth/main.go
  l2geth/cmd/geth/usage.go
  l2geth/cmd/utils/flags.go
  l2geth/eth/backend.go
  l2geth/rollup/config.go
  l2geth/rollup/sync_service.go
  l2geth/rollup/sync_service_test.go
  ops/docker-compose.l2.yml
  ops/docker-compose.yml
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical, M-ops

#624 R4R:Ignore scheduler new block msg
  l2geth/eth/backend.go
  l2geth/eth/handler.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#638 eigenda verifier development finish
  l2geth/cmd/geth/main.go
  l2geth/cmd/geth/usage.go
  l2geth/cmd/utils/flags.go
  l2geth/core/rawdb/rollup_indexes.go
  l2geth/core/rawdb/schema.go
  l2geth/rollup/config.go
  l2geth/rollup/eigenda/client.go
  l2geth/rollup/sync_service.go
  l2geth/rollup/types.go
  mt-batcher/Makefile
  mt-batcher/cmd/mt-batcher/main.go
  mt-batcher/config.go
  mt-batcher/flags/flags.go
  mt-batcher/go.mod
  mt-batcher/go.sum
  mt-batcher/metrics/metrics.go
  mt-batcher/mt_batcher.go
  mt-batcher/sequencer/batch_tx.go
  mt-batcher/services/common/base.go
  mt-batcher/services/common/crypto.go
  mt-batcher/services/common/types.go
  mt-batcher/services/restorer/handle.go
  mt-batcher/services/restorer/service.go
  mt-batcher/services/sequencer/driver.go
  mt-challenger/Makefile
  mt-challenger/challenger/challenger.go
  mt-challenger/go.mod
  mt-challenger/go.sum
  packages/contracts/genesis/local.json
  packages/contracts/genesis/state-dump.latest.json
Labels: 2-reviewers, M-l2geth, M-contracts, C-Protocol-Critical

#644 WIP : Update challenge contract
  packages/contracts/contracts/L1/fraud-proof/Rollup.sol
  packages/contracts/contracts/L1/fraud-proof/challenge/Challenge.sol
  packages/contracts/test/contracts/L1/fraud-proof/RollUp.ts
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#643 change l1 sender message addresss config from env
  l2geth/rollup/eigenda/client.go
  l2geth/rollup/sync_service.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#646 Jay/add verify verifier
  l2geth/cmd/geth/main.go
  l2geth/cmd/geth/usage.go
  l2geth/cmd/utils/flags.go
  l2geth/eth/backend.go
  l2geth/rollup/client.go
  l2geth/rollup/config.go
  l2geth/rollup/execute_env.go
  l2geth/rollup/sync_service.go
  l2geth/rollup/sync_service_test.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#648 Jay/add verify verifier release
  l2geth/cmd/geth/main.go
  l2geth/cmd/geth/usage.go
  l2geth/cmd/utils/flags.go
  l2geth/eth/backend.go
  l2geth/rollup/client.go
  l2geth/rollup/config.go
  l2geth/rollup/execute_env.go
  l2geth/rollup/sync_service.go
  l2geth/rollup/sync_service_test.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#647 WIP: Feature/fraud proof stake
  fraud-proof/proof/prover_test.go
  fraud-proof/rollup/services/base.go
  fraud-proof/rollup/services/sequencer/sequencer.go
  fraud-proof/service.go
  l2geth/cmd/geth/main.go
  l2geth/cmd/utils/flags.go
  packages/contracts/genesis/local.json
  packages/contracts/genesis/state-dump.latest.json
Labels: 2-reviewers, M-l2geth, M-contracts, C-Protocol-Critical, M-ops

#650 R4R: disable txSetProof
  l2geth/miner/worker.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#649 R4R: optimize tx selection algorithm for sequencer
  l2geth/miner/worker.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#630 Wb/fix testnet blockhash branching
  l2geth/consensus/clique/clique.go
  l2geth/params/config.go
  packages/contracts/deploy-config/goerli-qa.ts
  packages/contracts/deploy-config/goerli-testnet.ts
  packages/contracts/deploy-config/local.ts
  packages/contracts/tasks/take-dump.ts
Labels: 2-reviewers, M-l2geth, M-contracts, C-Protocol-Critical

#639 wb: fix testnet block branching
  l2geth/consensus/clique/clique.go
  l2geth/params/config.go
  mt-batcher/go.mod
  mt-challenger/go.mod
  packages/contracts/deploy-config/goerli-qa.ts
  packages/contracts/deploy-config/goerli-testnet.ts
  packages/contracts/deploy-config/local.ts
  packages/contracts/tasks/take-dump.ts
Labels: 2-reviewers, M-l2geth, M-contracts, C-Protocol-Critical

#656 dockerfile upgrade go1.19
  batch-submitter/Dockerfile
  gas-oracle/Dockerfile
  l2geth-exporter/Dockerfile
  l2geth/Dockerfile
  mt-batcher/Dockerfile
  mt-challenger/Dockerfile
  proxyd/Dockerfile
  subsidy/Dockerfile
  tss/Dockerfile
Labels: 2-reviewers, M-l2geth

#658 fix docker bug and state root bug for verifier
  go.work.sum
  l2geth/Dockerfile
  l2geth/go.mod
  l2geth/rollup/client.go
  l2geth/rollup/eigenda/client.go
  l2geth/rollup/eigenda/common.go
  l2geth/rollup/sync_service.go
  mt-batcher/Dockerfile
  mt-batcher/go.mod
  mt-batcher/go.sum
  mt-batcher/services/common/base.go
  mt-batcher/services/restorer/handle.go
  mt-batcher/services/sequencer/driver.go
  mt-challenger/Dockerfile
  mt-challenger/challenger/challenger.go
  mt-challenger/go.mod
  mt-challenger/go.sum
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#652 Feature/fraud proof challenge
  fraud-proof/rollup/services/base.go
  fraud-proof/rollup/services/config.go
  fraud-proof/rollup/services/sequencer/sequencer.go
  fraud-proof/rollup/types/tx_batch.go
  ops/envs/fraud_proof.env
  packages/contracts/contracts/L1/fraud-proof/AssertionMap.sol
  packages/contracts/contracts/L1/fraud-proof/Rollup.sol
  packages/contracts/genesis/local.json
  packages/contracts/genesis/state-dump.latest.json
Labels: 2-reviewers, M-contracts, C-Protocol-Critical, M-ops

#659 R4R: fix panic in getNonce
  l2geth/core/tx_pool.go
  l2geth/miner/worker.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#645 FP : Add challenge contract test
  packages/contracts/contracts/L1/fraud-proof/Rollup.sol
  packages/contracts/contracts/L1/fraud-proof/challenge/Challenge.sol
  packages/contracts/test/contracts/L1/fraud-proof/RollUp.spec.ts
  packages/contracts/test/contracts/L1/fraud-proof/Verifier.spec.ts
  packages/contracts/test/data/json/fraud-proof/fp_challenge.json
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#663 R4R: assign value to sync service verifier
  l2geth/rollup/sync_service.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#668 R4R: fix nil pointer for pending sequencer node
  l2geth/miner/worker.go
  l2geth/rollup/sync_service.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#672 R4R: remove unnecessary height check which might cause unexpected pause
  l2geth/miner/worker.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#670 Dav0.2.x/hotfix
  go.work.sum
  l2geth/rollup/eigenda/common.go
  mt-batcher/bindings/bvm_eigen_datalayr_chain.go
  mt-batcher/config.go
  mt-batcher/flags/flags.go
  mt-batcher/go.mod
  mt-batcher/go.sum
  mt-batcher/mt_batcher.go
  mt-batcher/services/restorer/handle.go
  mt-batcher/services/restorer/service.go
  mt-batcher/services/sequencer/db/level.go
  mt-batcher/services/sequencer/db/store.go
  mt-batcher/services/sequencer/driver.go
  mt-challenger/bindings/bvm_eigen_datalayr_chain.go
  mt-challenger/go.mod
  mt-challenger/go.sum
  packages/contracts/contracts/da/BVM_EigenDataLayrChain.sol
Labels: 2-reviewers, M-l2geth, M-contracts, C-Protocol-Critical

#678 add stage branch change to develop branch
  go.work.sum
  l2geth/rollup/eigenda/client.go
  l2geth/rollup/eigenda/common.go
  mt-batcher/Dockerfile
  mt-batcher/bindings/bvm_eigen_datalayr_chain.go
  mt-batcher/config.go
  mt-batcher/flags/flags.go
  mt-batcher/go.mod
  mt-batcher/go.sum
  mt-batcher/mt_batcher.go
  mt-batcher/services/common/base.go
  mt-batcher/services/restorer/handle.go
  mt-batcher/services/restorer/service.go
  mt-batcher/services/sequencer/db/level.go
  mt-batcher/services/sequencer/db/store.go
  mt-batcher/services/sequencer/driver.go
  mt-challenger/Dockerfile
  mt-challenger/bindings/bvm_eigen_datalayr_chain.go
  mt-challenger/challenger/challenger.go
  mt-challenger/go.mod
  mt-challenger/go.sum
  packages/contracts/contracts/da/BVM_EigenDataLayrChain.sol
Labels: 2-reviewers, M-l2geth, M-contracts, C-Protocol-Critical

#673 R4R: Optimize decentralized sequencer
  batch-submitter/drivers/proposer/driver.go
  l2geth/cmd/geth/main.go
  l2geth/cmd/geth/usage.go
  l2geth/cmd/utils/flags.go
  l2geth/consensus/clique/scheduler.go
  l2geth/consensus/clique/scheduler_health.go
  l2geth/consensus/clique/synchronizer/server.go
  l2geth/core/events.go
  l2geth/core/tx_pool.go
  l2geth/eth/api_backend.go
  l2geth/eth/backend.go
  l2geth/eth/consensus_handler.go
  l2geth/eth/handler.go
  l2geth/miner/worker.go
  l2geth/rollup/config.go
  l2geth/rollup/sync_service.go
  l2geth/rollup/sync_service_test.go
  ops/docker-compose.l2.yml
  ops/docker-compose.yml
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical, M-ops

#687 Update goerli-qa.ts
  packages/contracts/deploy-config/goerli-qa.ts
Labels: 2-reviewers, M-contracts

#692 Remove gasUsed
  batch-submitter/drivers/proposer/driver.go
  fraud-proof/bindings/AssertionMap.go
  fraud-proof/bindings/IRollup.go
  fraud-proof/bindings/Rollup.go
  fraud-proof/rollup/services/sequencer/sequencer.go
  fraud-proof/rollup/services/validator/validator.go
  fraud-proof/rollup/types/assertion.go
  fraud-proof/rollup/types/tx_batch.go
  packages/contracts/contracts/L1/fraud-proof/AssertionMap.sol
  packages/contracts/contracts/L1/fraud-proof/IRollup.sol
  packages/contracts/contracts/L1/fraud-proof/Rollup.sol
  packages/contracts/contracts/L1/fraud-proof/RollupLib.sol
  packages/contracts/deploy/019-BVM_FraudProof.deploy.ts
  packages/contracts/genesis/local.json
  packages/contracts/genesis/state-dump.latest.json
  packages/contracts/test/contracts/L1/fraud-proof/RollUp.ts
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#698 Eliminate misjudgment
  packages/contracts/contracts/L1/fraud-proof/Rollup.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#697 Feature/fraud proof verify osp edit validator
  fraud-proof/proof/api.go
  fraud-proof/proof/proof/state_proof.go
  fraud-proof/proof/prover.go
  fraud-proof/proof/state/state.go
  fraud-proof/rollup/services/sequencer/batcher.go
  fraud-proof/rollup/services/sequencer/sequencer.go
  fraud-proof/rollup/services/validator/validator.go
  fraud-proof/rollup/types/tx_batch.go
  packages/contracts/contracts/L1/fraud-proof/Rollup.sol
  packages/contracts/genesis/local.json
  packages/contracts/genesis/state-dump.latest.json
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#699 update deployer used dockerfile
  ops/docker/Dockerfile.packages
Labels: 2-reviewers, M-ops

#696 R4R:Add batch answer interval control
  l2geth/cmd/utils/flags.go
  l2geth/consensus/clique/scheduler.go
  l2geth/consensus/clique/scheduler_health.go
  l2geth/miner/miner.go
  l2geth/miner/worker.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#709 [fix]: refact prover bisection execute
  fraud-proof/bindings/IChallenge.go
  fraud-proof/bindings/Rollup.go
  fraud-proof/rollup/services/sequencer/sequencer.go
  fraud-proof/rollup/services/utils.go
  fraud-proof/rollup/services/validator/validator.go
  packages/contracts/contracts/L1/fraud-proof/challenge/Challenge.sol
  packages/contracts/contracts/L1/fraud-proof/challenge/ChallengeLib.sol
  packages/contracts/contracts/L1/fraud-proof/challenge/IChallenge.sol
  packages/contracts/genesis/local.json
  packages/contracts/genesis/state-dump.latest.json
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#710 Fix tx pointer and Fix UpdateSyncServiceState
  l2geth/rollup/sync_service.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#700 Add mock SCC contract for roll up test
  packages/contracts/contracts/test-helpers/MockStateCommitmentChain.sol
  packages/contracts/test/contracts/L1/fraud-proof/RollUp.ts
Labels: 2-reviewers, M-contracts, C-Protocol-Critical
