Repository mantlenetworkio/mantle, pull requests merged in 2023-03, with the labels that each got.

#707 R4R: Optimize d-sequencer
  l2geth/cmd/utils/flags.go
  l2geth/consensus/clique/scheduler.go
  l2geth/consensus/clique/scheduler_health.go
  l2geth/miner/miner.go
  l2geth/miner/worker.go
  l2geth/rollup/sync_service.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#712 Feature/fraud proof verfy osp challenge and verify
  fraud-proof/bindings/IChallenge.go
  fraud-proof/proof/prover.go
  fraud-proof/rollup/services/sequencer/sequencer.go
  fraud-proof/rollup/services/utils.go
  fraud-proof/rollup/services/validator/validator.go
  packages/contracts/contracts/L1/fraud-proof/Rollup.sol
  packages/contracts/contracts/L1/fraud-proof/challenge/Challenge.sol
  packages/contracts/contracts/L1/fraud-proof/challenge/ChallengeLib.sol
  packages/contracts/contracts/L1/fraud-proof/challenge/IChallenge.sol
  packages/contracts/deploy/019-BVM_FraudProof.deploy.ts
  packages/contracts/genesis/local.json
  packages/contracts/genesis/state-dump.latest.json
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#706 WIP : Advance the assertion that has fallen behind
  fraud-proof/rollup/services/base.go
  fraud-proof/rollup/services/sequencer/sequencer.go
  fraud-proof/rollup/services/validator/validator.go
  l2geth/core/rawdb/accessors_chain.go
  l2geth/core/rawdb/schema.go
  packages/contracts/contracts/L1/fraud-proof/Rollup.sol
  packages/contracts/deploy-config/local.ts
  packages/contracts/genesis/local.json
  packages/contracts/genesis/state-dump.latest.json
Labels: 2-reviewers, M-l2geth, M-contracts, C-Protocol-Critical

#714 Update issue & pr templates
  .github/ISSUE_TEMPLATE/common-issues.md
  .github/pull_request_template.md
  .gitignore
Labels: 2-reviewers

#715 Fraud Proof : restart
  fraud-proof/bindings/Challenge.go
  fraud-proof/bindings/gen.go
  fraud-proof/rollup/services/sequencer/sequencer.go
  fraud-proof/rollup/services/utils.go
  fraud-proof/rollup/services/validator/validator.go
  l2geth/core/rawdb/accessors_chain.go
  l2geth/core/rawdb/schema.go
  packages/contracts/contracts/L1/fraud-proof/AssertionMap.sol
  packages/contracts/contracts/L1/fraud-proof/challenge/Challenge.sol
  packages/contracts/deploy-config/local.ts
  packages/contracts/genesis/local.json
  packages/contracts/genesis/state-dump.latest.json
Labels: 2-reviewers, M-l2geth, M-contracts, C-Protocol-Critical

#722 [Fraud Proof]: add stake whitelist
  packages/contracts/contracts/L1/fraud-proof/IRollup.sol
  packages/contracts/contracts/L1/fraud-proof/Rollup.sol
  packages/contracts/contracts/L1/fraud-proof/WhiteList.sol
  packages/contracts/deploy/019-BVM_FraudProof.deploy.ts
  packages/contracts/genesis/local.json
  packages/contracts/genesis/state-dump.latest.json
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#720 [Fraud Proof]: validator restart
  batch-submitter/drivers/proposer/driver.go
  fraud-proof/bindings/Rollup.go
  fraud-proof/cmd/flags.go
  fraud-proof/proof/prover.go
  fraud-proof/proof/prover_test.go
  fraud-proof/proof/state/stack.go
  fraud-proof/rollup/services/sequencer/sequencer.go
  fraud-proof/rollup/services/validator/validator.go
  fraud-proof/rollup/types/assertion.go
  fraud-proof/rollup/types/staker.go
  fraud-proof/rollup/types/tx_batch.go
  fraud-proof/service.go
  l2geth/core/rawdb/accessors_chain.go
  l2geth/core/rawdb/schema.go
  packages/contracts/contracts/L1/fraud-proof/Rollup.sol
  packages/contracts/genesis/local.json
  packages/contracts/genesis/state-dump.latest.json
Labels: 2-reviewers, M-l2geth, M-contracts, C-Protocol-Critical

#732 Ethan/da dtl integration
  CHANGELOG.md
  go.work.sum
  l2geth/rollup/eigenda/common.go
  mt-batcher/bindings/bvm_eigen_datalayr_chain.go
  mt-batcher/config.go
  mt-batcher/flags/flags.go
  mt-batcher/go.mod
  mt-batcher/go.sum
  mt-batcher/mt_batcher.go
  mt-batcher/services/restorer/handle.go
  mt-batcher/services/restorer/service.go
  mt-batcher/services/sequencer/db/level.go
  mt-batcher/services/sequencer/db/store.go
  mt-batcher/services/sequencer/driver.go
  mt-challenger/bindings/bvm_eigen_datalayr_chain.go
  mt-challenger/go.mod
  mt-challenger/go.sum
  package.json
  packages/contracts/addresses.json
  packages/contracts/addresses.txt
  packages/contracts/contracts/da/BVM_EigenDataLayrChain.sol
  packages/contracts/genesis/addresses.json
  packages/contracts/genesis/local.json
  packages/contracts/genesis/state-dump.latest.json
  packages/data-transport-layer/package.json
  packages/data-transport-layer/src/db/transport-db.ts
  packages/data-transport-layer/src/services/da-ingestion/handlers/errors.ts
  packages/data-transport-layer/src/services/da-ingestion/service.ts
  packages/data-transport-layer/src/services/main/service.ts
  packages/data-transport-layer/src/services/run.ts
  packages/data-transport-layer/src/services/server/service.ts
  packages/data-transport-layer/src/types/api-types.ts
  packages/data-transport-layer/src/types/database-types.ts
  yarn.lock
Labels: 2-reviewers, M-l2geth, M-contracts, M-dtl, C-Protocol-Critical, task

#747 change batch submitter adjust da, ctc and scc
  batch-submitter/Makefile
  batch-submitter/batch_submitter.go
  batch-submitter/bindings/ctc/canonical_transaction_chain.go
  batch-submitter/bindings/da/bvm_eigen_datalayr_chain.go
  batch-submitter/bindings/scc/state_commitment_chain.go
  batch-submitter/config.go
  batch-submitter/drivers/sequencer/batch.go
  batch-submitter/drivers/sequencer/driver.go
  batch-submitter/drivers/sequencer/encoding.go
  batch-submitter/flags/flags.go
  mt-batcher/go.mod
  mt-batcher/go.sum
  mt-batcher/services/client/client.go
  mt-challenger/go.mod
  mt-challenger/go.sum
  packages/contracts/deploy/deploy-bit-token-erc20.ts
  packages/contracts/genesis/local.json
  packages/contracts/genesis/state-dump.latest.json
Labels: 2-reviewers, M-contracts

#748 Ethan/da dtl integration (#732)
  go.work.sum
  mt-batcher/go.mod
  mt-batcher/services/restorer/handle.go
  mt-batcher/services/restorer/service.go
  mt-challenger/go.mod
  package.json
  packages/contracts/addresses.json
  packages/contracts/addresses.txt
  packages/contracts/genesis/addresses.json
  packages/contracts/genesis/local.json
  packages/contracts/genesis/state-dump.latest.json
  packages/data-transport-layer/package.json
  packages/data-transport-layer/src/db/transport-db.ts
  packages/data-transport-layer/src/services/da-ingestion/handlers/errors.ts
  packages/data-transport-layer/src/services/da-ingestion/service.ts
  packages/data-transport-layer/src/services/main/service.ts
  packages/data-transport-layer/src/services/run.ts
  packages/data-transport-layer/src/services/server/service.ts
  packages/data-transport-layer/src/types/api-types.ts
  packages/data-transport-layer/src/types/database-types.ts
  yarn.lock
Labels: 2-reviewers, M-contracts, M-dtl, C-Protocol-Critical

#749 [fix]: debug proof codec
  fraud-proof/bindings/Challenge.go
  fraud-proof/proof/proof/component_proof.go
  fraud-proof/proof/proof/instructions.go
  fraud-proof/proof/proof/proof.go
  fraud-proof/proof/proof/state_proof.go
  fraud-proof/proof/proof/utils.go
  fraud-proof/proof/proof/verifier_type.go
  fraud-proof/proof/prover/intra_state_generator.go
  fraud-proof/proof/prover/one_step_prover.go
  fraud-proof/proof/prover/test_prover.go
  fraud-proof/proof/state/state.go
  fraud-proof/proof/test_api.go
  fraud-proof/rollup/services/utils.go
  packages/contracts/contracts/L1/fraud-proof/challenge/Challenge.sol
  packages/contracts/contracts/L1/fraud-proof/challenge/IChallenge.sol
  packages/contracts/genesis/local.json
  packages/contracts/genesis/state-dump.latest.json
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#750 dtl support upgrade for change ctc rollup to eigen
  batch-submitter/drivers/sequencer/encoding.go
  go.work.sum
  mt-batcher/config.go
  mt-batcher/flags/flags.go
  mt-batcher/go.mod
  mt-batcher/go.sum
  mt-batcher/mt_batcher.go
  mt-batcher/services/client/client.go
  mt-batcher/services/sequencer/driver.go
  packages/data-transport-layer/src/services/l1-ingestion/service.ts
  packages/data-transport-layer/src/services/main/service.ts
  packages/data-transport-layer/src/services/run.ts
Labels: 2-reviewers, M-dtl, C-Protocol-Critical

#751 Deploy verifier by script
  ops/scripts/deployer.sh
  packages/contracts/tasks/fraud-proof-tasks.ts
Labels: 2-reviewers, M-contracts, M-ops

#756 [fix]: fix details
  fraud-proof/proof/proof/state_proof.go
  fraud-proof/proof/prover.go
  fraud-proof/rollup/services/base.go
  fraud-proof/rollup/services/validator/validator.go
  packages/contracts/contracts/L1/fraud-proof/challenge/Challenge.sol
  packages/contracts/contracts/L1/fraud-proof/verifier/test-driver/VerifierTestDriver.sol
  packages/contracts/genesis/local.json
  packages/contracts/genesis/state-dump.latest.json
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#765 Feature/fraud proof verfy osp remove fraud in interpreter
  l2geth/core/vm/interpreter.go
Labels: 2-reviewers, M-l2geth, M-contracts, C-Protocol-Critical, M-ops

#768 [fix]: fix details
  .gitignore
  fraud-proof/proof/prover/test_prover.go
  packages/contracts/genesis/local.json
  packages/contracts/genesis/state-dump.latest.json
  packages/contracts/test/data/json/fraud-proof/osp.json
Labels: 2-reviewers, M-contracts

#767 Feature/fixdtl
  packages/data-transport-layer/src/db/transport-db.ts
  packages/data-transport-layer/src/services/da-ingestion/service.ts
  packages/data-transport-layer/src/services/main/service.ts
  packages/data-transport-layer/src/services/run.ts
  packages/data-transport-layer/src/services/server/service.ts
  packages/data-transport-layer/src/types/api-types.ts
  packages/data-transport-layer/src/types/database-types.ts
Labels: 2-reviewers, M-dtl, C-Protocol-Critical

#770 fix dtl sync eigenda bug
  packages/data-transport-layer/src/services/da-ingestion/service.ts
  packages/data-transport-layer/src/services/main/service.ts
  packages/data-transport-layer/src/services/run.ts
Labels: 2-reviewers, M-dtl, C-Protocol-Critical

#772 fix dtl bug for api
  mt-batcher/go.mod
  mt-challenger/go.mod
  packages/contracts/deploy/000.1-deploy-bit-token-erc20.ts
  packages/data-transport-layer/src/db/transport-db.ts
  packages/data-transport-layer/src/services/da-ingestion/service.ts
  packages/data-transport-layer/src/services/run.ts
  packages/data-transport-layer/src/services/server/service.ts
  packages/data-transport-layer/src/types/api-types.ts
  packages/data-transport-layer/src/types/database-types.ts
Labels: 2-reviewers, M-contracts, M-dtl, C-Protocol-Critical

#776 Fix challenge complete
  fraud-proof/rollup/services/sequencer/sequencer.go
  packages/contracts/contracts/L1/fraud-proof/challenge/Challenge.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#779 Feature/ctc rollup switch to eigenlayer (#773)
  batch-submitter/Makefile
  batch-submitter/batch_submitter.go
  batch-submitter/bindings/ctc/canonical_transaction_chain.go
  batch-submitter/bindings/da/bvm_eigen_datalayr_chain.go
  batch-submitter/bindings/scc/state_commitment_chain.go
  batch-submitter/config.go
  batch-submitter/drivers/sequencer/batch.go
  batch-submitter/drivers/sequencer/driver.go
  batch-submitter/drivers/sequencer/encoding.go
  batch-submitter/flags/flags.go
  batch-submitter/go.mod
  batch-submitter/go.sum
  go.work.sum
  mt-batcher/config.go
  mt-batcher/flags/flags.go
  mt-batcher/go.mod
  mt-batcher/go.sum
  mt-batcher/mt_batcher.go
  mt-batcher/services/client/client.go
  mt-batcher/services/restorer/handle.go
  mt-batcher/services/restorer/service.go
  mt-batcher/services/sequencer/driver.go
  mt-challenger/go.mod
  mt-challenger/go.sum
  package.json
  packages/contracts/addresses.json
  packages/contracts/addresses.txt
  packages/contracts/genesis/addresses.json
  packages/contracts/genesis/local.json
  packages/contracts/genesis/state-dump.latest.json
  packages/data-transport-layer/package.json
  packages/data-transport-layer/src/db/transport-db.ts
  packages/data-transport-layer/src/services/da-ingestion/handlers/errors.ts
  packages/data-transport-layer/src/services/da-ingestion/service.ts
  packages/data-transport-layer/src/services/l1-ingestion/service.ts
  packages/data-transport-layer/src/services/main/service.ts
  packages/data-transport-layer/src/services/run.ts
  packages/data-transport-layer/src/services/server/service.ts
  packages/data-transport-layer/src/types/api-types.ts
  packages/data-transport-layer/src/types/database-types.ts
  yarn.lock
Labels: 2-reviewers, M-contracts, M-dtl, C-Protocol-Critical

#783 Fraud proof verfy osp rechallenge
  fraud-proof/bindings/Rollup.go
  fraud-proof/rollup/services/sequencer/sequencer.go
  fraud-proof/rollup/services/validator/validator.go
  packages/contracts/contracts/L1/fraud-proof/IRollup.sol
  packages/contracts/contracts/L1/fraud-proof/Rollup.sol
  packages/contracts/deploy-config/local.ts
  packages/contracts/genesis/local.json
  packages/contracts/genesis/state-dump.latest.json
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#784 Add verifier re-stake check and challenge verifiery
  fraud-proof/cmd/flags.go
  fraud-proof/rollup/services/config.go
  fraud-proof/rollup/services/sequencer/sequencer.go
  fraud-proof/rollup/services/validator/validator.go
  l2geth/cmd/geth/main.go
  l2geth/cmd/utils/flags.go
  packages/contracts/contracts/L1/fraud-proof/challenge/Challenge.sol
  packages/contracts/genesis/local.json
  packages/contracts/genesis/state-dump.latest.json
Labels: 2-reviewers, M-l2geth, M-contracts, C-Protocol-Critical

#785 Feature/fraud proof verfy osp fix conflict
  packages/contracts/test/contracts/L1/fraud-proof/RollUp.spec.ts
  packages/contracts/test/contracts/L1/fraud-proof/Verifier.spec.ts
  packages/contracts/test/data/json/fraud-proof/fp_challenge.json
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#786 Fraud proof verfy osp code clean
  batch-submitter/drivers/proposer/driver.go
  batch-submitter/drivers/sequencer/driver.go
  batch-submitter/drivers/sequencer/metrics.go
  fraud-proof/bindings/gen.go
  fraud-proof/proof/prover.go
  fraud-proof/proof/test_api.go
  fraud-proof/rollup/services/sequencer/sequencer.go
  fraud-proof/rollup/services/utils.go
  fraud-proof/rollup/services/validator/validator.go
  packages/contracts/contracts/L1/fraud-proof/verifier/VerifierEntry.sol
  packages/contracts/genesis/local.json
  packages/contracts/genesis/state-dump.latest.json
  packages/contracts/tasks/fraud-proof-tasks.ts
  tss/node/signer/deal_msg.go
  tss/node/signer/delete_slash.go
  tss/node/signer/dial_le_client.go
  tss/node/signer/keygen.go
  tss/node/signer/process.go
  tss/node/signer/sign.go
  tss/node/signer/sign_rollback.go
  tss/node/signer/sign_slash.go
  tss/node/signer/verify.go
  tss/node/signer/verify_rollback.go
  tss/node/signer/verify_slash.go
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#788 [fix]: edit log infos
  batch-submitter/drivers/proposer/driver.go
  fraud-proof/proof/proof/instructions.go
  fraud-proof/proof/proof/proof.go
  fraud-proof/proof/prover.go
  fraud-proof/proof/prover/intra_state_generator.go
  fraud-proof/proof/prover/one_step_prover.go
  fraud-proof/proof/prover/test_prover.go
  fraud-proof/rollup/services/base.go
  fraud-proof/rollup/services/sequencer/sequencer.go
  packages/contracts/genesis/local.json
Labels: 2-reviewers, M-contracts
