Repository mantlenetworkio/mantle, pull requests merged in 2023-08, with the labels that each got.

#1300 [R4R]-{develop}: Fix typos
  CONTRIBUTING.md
  gas-oracle/README.md
  l2geth/README.md
  ops/README.md
Labels: 2-reviewers, M-l2geth, M-ops

#1263 [R4R] - {license}: add DA license
  README.md
  fraud-proof/LICENSE
Labels: enhancement

#1323 V0.4.3/sync develop
  CONTRIBUTING.md
  README.md
  fraud-proof/LICENSE
  gas-oracle/README.md
  l2geth/README.md
  ops/README.md
Labels: 2-reviewers, M-l2geth, M-ops

#1301 [R4R]-{develop}:Optimize the rollup service
  batch-submitter/batch_submitter.go
  batch-submitter/config.go
  batch-submitter/drivers/proposer/driver.go
  batch-submitter/drivers/sequencer/driver.go
  batch-submitter/drivers/sequencer/encoding.go
  batch-submitter/flags/flags.go
  mt-batcher/config.go
  mt-batcher/flags/flags.go
  mt-batcher/mt_batcher.go
  mt-batcher/services/restorer/handle.go
  mt-batcher/services/sequencer/driver.go
  packages/contracts/contracts/L2/predeploys/BVM_MANTLE.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical, enhancement

#1338 [R4R]-{develop}: handle testnet MNT token address compatibility
  packages/sdk/src/adapters/standard-bridge.ts
Labels: M-sdk

#1341 [R4R]-{develop}: Bugfix/fix gas oracle gomod
  gas-oracle/go.mod
  gas-oracle/go.sum
Labels: 2-reviewers, M-l2geth, M-contracts, M-sdk, C-Protocol-Critical, M-ops

#1349 update @mantleio/sdk to version 0.2.2
  packages/fault-detector/package.json
  packages/message-relayer/package.json
  packages/sdk/package.json
Labels: 2-reviewers, M-sdk

#1356 [R4R]-{develop}: Merge/main into develop
  README.md
Labels: 2-reviewers, M-l2geth, M-contracts, M-sdk, C-Protocol-Critical

#1357 R4R: dump witness for bedrock migration
  l2geth/core/state/statedb.go
  l2geth/core/vm/evm.go
  l2geth/rollup/dump/constants.go
  l2geth/statedumper/dumper.go
  l2geth/statedumper/dumper_test.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical
