Repository mantlenetworkio/mantle, pull requests merged in 2023-01, with the labels that each got.

#504 Clean decentralized rollback index
  l2geth/common/types.go
  l2geth/consensus/clique/clique.go
  l2geth/consensus/clique/clique_test.go
  l2geth/consensus/clique/snapshot_test.go
  l2geth/core/blockchain.go
  l2geth/core/events.go
  l2geth/core/types/block.go
  l2geth/core/types/scheduler.go
  l2geth/eth/backend.go
  l2geth/rollup/sync_service.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#496 eigenda:da fraud proof white list and l2block number binding to eigen…
  mt-batcher/bindings/bvm_eigen_datalayr_chain.go
  mt-batcher/sequencer/driver.go
  packages/contracts/.gitignore
  packages/contracts/addresses.json
  packages/contracts/contracts/da/BVM_EigenDataLayrChain.sol
  packages/contracts/deploy-config/goerli-qa.ts
  packages/contracts/deploy-config/goerli-testnet.ts
  packages/contracts/deploy-config/hardhat.ts
  packages/contracts/deploy-config/local.ts
  packages/contracts/deploy-config/mainnet.ts
  packages/contracts/deploy/018-BVM_EigenDataLayrChain.deploy.ts
  packages/contracts/genesis/local.json
  packages/contracts/genesis/state-dump.latest.json
  packages/contracts/hardhat.config.ts
  packages/contracts/package.json
  packages/contracts/src/deploy-config.ts
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#509 adjust the docker-compose.yml file
  ops/chaintestdata/scheduler/README.md
  ops/chaintestdata/scheduler/geth/chaindata/CURRENT
  ops/chaintestdata/scheduler/geth/chaindata/LOCK
  ops/chaintestdata/scheduler/geth/chaindata/LOG
  ops/chaintestdata/scheduler/geth/chaindata/MANIFEST-000000
  ops/chaintestdata/scheduler/geth/config.toml
  ops/chaintestdata/scheduler/geth/lightchaindata/CURRENT
  ops/chaintestdata/scheduler/geth/lightchaindata/LOCK
  ops/chaintestdata/scheduler/geth/lightchaindata/LOG
  ops/chaintestdata/scheduler/geth/lightchaindata/MANIFEST-000000
  ops/chaintestdata/scheduler/geth/nodekey
  ops/chaintestdata/sequencer1/README.md
  ops/chaintestdata/sequencer1/config.toml
  ops/chaintestdata/sequencer1/geth/chaindata/CURRENT
  ops/chaintestdata/sequencer1/geth/chaindata/LOCK
  ops/chaintestdata/sequencer1/geth/chaindata/LOG
  ops/chaintestdata/sequencer1/geth/chaindata/MANIFEST-000000
  ops/chaintestdata/sequencer1/geth/lightchaindata/CURRENT
  ops/chaintestdata/sequencer1/geth/lightchaindata/LOCK
  ops/chaintestdata/sequencer1/geth/lightchaindata/LOG
  ops/chaintestdata/sequencer1/geth/lightchaindata/MANIFEST-000000
  ops/chaintestdata/sequencer1/geth/nodekey
  ops/chaintestdata/sequencer2/README.md
  ops/chaintestdata/sequencer2/config.toml
  ops/chaintestdata/sequencer2/geth/chaindata/CURRENT
  ops/chaintestdata/sequencer2/geth/chaindata/LOCK
  ops/chaintestdata/sequencer2/geth/chaindata/LOG
  ops/chaintestdata/sequencer2/geth/chaindata/MANIFEST-000000
  ops/chaintestdata/sequencer2/geth/lightchaindata/CURRENT
  ops/chaintestdata/sequencer2/geth/lightchaindata/LOCK
  ops/chaintestdata/sequencer2/geth/lightchaindata/LOG
  ops/chaintestdata/sequencer2/geth/lightchaindata/MANIFEST-000000
  ops/chaintestdata/sequencer2/geth/nodekey
  ops/docker-compose.yml
  ops/envs/geth.env
  ops/scripts/geth.sh
Labels: 2-reviewers, M-ops

#508 R4R: Sequencer update local gasPriceOracle
  l2geth/rollup/sync_service.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#518 Fix batchStartLoop expectHeight verify
  l2geth/miner/worker.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#498 Health assessment
  l2geth/consensus/clique/scheduler.go
  l2geth/consensus/clique/scheduler_health.go
  l2geth/eth/backend.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#519 integration decentralized sequencers with mpc valivators
  ops/Makefile
  ops/README.integration.md
  ops/config/tss-node-config.toml
  ops/docker-compose.local.yml
  ops/docker-compose.tss.yml
  ops/docker-compose.yml
  ops/docker/tss/Dockerfile
  tss/Dockerfile
Labels: 2-reviewers, M-ops

#524 Eigenda/eip1559
  mt-batcher/bindings/bvm_eigen_datalayr_chain.go
  mt-batcher/config.go
  mt-batcher/flags/flags.go
  mt-batcher/go.mod
  mt-batcher/go.sum
  mt-batcher/l1l2client/l1client.go
  mt-batcher/l1l2client/l2client.go
  mt-batcher/mt_batcher.go
  mt-batcher/sequencer/batch_tx.go
  mt-batcher/sequencer/driver.go
  mt-batcher/txmgr/send_state.go
  mt-batcher/txmgr/send_state_test.go
  mt-batcher/txmgr/txmgr.go
  mt-batcher/txmgr/txmgr_test.go
  packages/contracts/addresses.json
  packages/contracts/contracts/da/BVM_EigenDataLayrChain.sol
  packages/contracts/genesis/local.json
  packages/contracts/genesis/state-dump.latest.json
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#513 R4R: Update comment and fix bugs
  l2geth/consensus/clique/scheduler.go
  l2geth/consensus/clique/scheduler_health.go
  l2geth/consensus/clique/synchronizer/server.go
  l2geth/eth/backend.go
  l2geth/eth/consensus_handler.go
  l2geth/miner/worker.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#520 Health assessment
  l2geth/consensus/clique/scheduler.go
  l2geth/consensus/clique/scheduler_health.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#532 R4R:Decentralized Rollback
  l2geth/common/types.go
  l2geth/consensus/clique/clique_test.go
  l2geth/consensus/clique/scheduler.go
  l2geth/core/blockchain.go
  l2geth/core/events.go
  l2geth/core/rawdb/rollback_state.go
  l2geth/core/rawdb/schema.go
  l2geth/core/types/block.go
  l2geth/core/types/scheduler.go
  l2geth/eth/downloader/downloader.go
  l2geth/miner/worker.go
  l2geth/rollup/sync_service.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#516 R4R: Fix apply transaction to tip
  l2geth/rollup/sync_service.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#539 R4R:Fix apply transaction to tip
  l2geth/rollup/sync_service.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#546 sdk bump to v0.1.4
  integration-tests/package.json
  packages/fault-detector/package.json
  packages/message-relayer/package.json
  packages/sdk/package.json
  packages/sdk/src/utils/contracts.ts
Labels: 2-reviewers, M-integration, M-sdk

#545 R4R: Fix read rollback states
  l2geth/core/rawdb/rollback_state.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#535 R4R: Fix p2p consensus msgs double set as known
  l2geth/core/events.go
  l2geth/core/types/scheduler.go
  l2geth/eth/consensus_handler.go
  l2geth/eth/consensus_protocol.go
  l2geth/eth/handler.go
  l2geth/eth/peer.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#551 R4R:Add wbit token
  packages/contracts/contracts/L2/tokens/wbit.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#560 add http server port in config file
  ops/config/tss-node-config.toml
  tss/common/config.go
  tss/node/cmd/tssnode/cmd.go
Labels: 2-reviewers, M-ops

#550 R4R: fix scheduler boundary issue
  l2geth/consensus/clique/scheduler.go
  l2geth/consensus/clique/scheduler_health.go
  l2geth/core/types/scheduler.go
  l2geth/eth/consensus_handler.go
  l2geth/eth/peer.go
  l2geth/miner/worker.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#569 R4R:Scheduler close sendTx rpc
  l2geth/eth/api_backend.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#574 R4R: fix issues in healthy assessor
  l2geth/consensus/clique/scheduler.go
  l2geth/consensus/clique/scheduler_health.go
  l2geth/miner/worker.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#563 R4R:Add sequencer deploy task
  .gitignore
  packages/contracts/contracts/L1/sequencer/Sequencer.sol
  packages/contracts/tasks/index.ts
  packages/contracts/tasks/sequencer.ts
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#580 R4R: Revert sequencer contract change
  packages/contracts/contracts/L1/sequencer/Sequencer.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#582 R4R: only include signer in epoch height
  l2geth/consensus/clique/clique.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#579 R4R: update deployment for sequencer ugrade
  ops/Makefile
  ops/docker-compose.l1.yml
  ops/docker-compose.l2.yml
Labels: 2-reviewers, M-ops

#578 R4R : Bug fix and add test case
  l2geth/consensus/clique/scheduler.go
  l2geth/consensus/clique/scheduler_test.go
  packages/contracts/docs/console.md
Labels: 2-reviewers, M-l2geth, M-contracts, C-Protocol-Critical

#585 R4R:Optimize batchDone event
  l2geth/consensus/clique/scheduler.go
  l2geth/core/events.go
  l2geth/miner/worker.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#590 fix deployer.sh
  ops/scripts/deployer.sh
Labels: 2-reviewers, M-ops

#588 Update decentralized sequencer code annotate
  l2geth/consensus/clique/scheduler.go
  l2geth/consensus/clique/scheduler_health.go
  l2geth/consensus/clique/synchronizer/server.go
  l2geth/eth/consensus_handler.go
  l2geth/eth/handler.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical
