Repository mantlenetworkio/mantle, pull requests merged in 2023-05, with the labels that each got.

#851 Update some packages to support the upgrade of fraudProof
  packages/contracts/package.json
  packages/data-transport-layer/package.json
  packages/data-transport-layer/src/services/l1-ingestion/handlers/state-batch-appended.ts
  packages/sdk/package.json
  packages/sdk/src/cross-chain-messenger.ts
  packages/sdk/src/interfaces/types.ts
  packages/sdk/src/utils/contracts.ts
Labels: 2-reviewers, M-contracts, M-dtl, M-sdk, C-Protocol-Critical

#795 wb: replace testnet bittoken and add pauseOwner for l1crm
  packages/contracts/addresses.txt
  packages/contracts/contracts/L1/local/TestBitToken.sol
  packages/contracts/contracts/L1/local/TestnetBitToken.sol
  packages/contracts/contracts/L1/messaging/L1CrossDomainMessenger.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical, Stale

#858 Feature/simple delegation
  fraud-proof/bindings/Rollup.go
  fraud-proof/rollup/services/base.go
  fraud-proof/rollup/services/validator/validator.go
  go.work.sum
  mt-batcher/go.mod
  mt-batcher/go.sum
  mt-challenger/go.mod
  mt-challenger/go.sum
  ops/scripts/deployer.sh
  packages/contracts/addresses.json
  packages/contracts/addresses.txt
  packages/contracts/contracts/L1/fraud-proof/IRollup.sol
  packages/contracts/contracts/L1/fraud-proof/Rollup.sol
  packages/contracts/contracts/L1/fraud-proof/WhiteList.sol
  packages/contracts/deploy/019-BVM_FraudProof.deploy.ts
  packages/contracts/genesis/addresses.json
  packages/contracts/genesis/local.json
  packages/contracts/genesis/state-dump.latest.json
  packages/contracts/tasks/fraud-proof-tasks.ts
  packages/contracts/test/contracts/L1/fraud-proof/RollUp.spec.ts
Labels: 2-reviewers, M-contracts, C-Protocol-Critical, M-ops

#807 Fraud proof stake bit
  fraud-proof/bindings/Rollup.go
  fraud-proof/rollup/services/base.go
  fraud-proof/rollup/services/validator/validator.go
  go.work.sum
  packages/contracts/contracts/L1/fraud-proof/IRollup.sol
  packages/contracts/contracts/L1/fraud-proof/Rollup.sol
  packages/contracts/tasks/fraud-proof-tasks.ts
  packages/contracts/test/contracts/L1/fraud-proof/RollUp.spec.ts
Labels: 2-reviewers, M-l2geth, M-contracts, M-dtl, C-Protocol-Critical, M-ops

#866 Release/v0.4.0 merge main
  CHANGELOG.md
  l2geth/cmd/geth/main.go
  l2geth/cmd/geth/usage.go
  l2geth/cmd/utils/flags.go
  l2geth/eth/backend.go
  l2geth/params/config.go
  l2geth/rollup/config.go
  l2geth/rollup/sync_service.go
  packages/contracts/contracts/L1/messaging/L1StandardBridge.sol
  packages/contracts/contracts/L1/tss/TssGroupManager.sol
  packages/contracts/contracts/L1/tss/TssStakingSlashing.sol
  packages/contracts/contracts/da/BVM_EigenDataLayrChain.sol
  packages/contracts/contracts/da/BVM_EigenDataLayrFee.sol
Labels: 2-reviewers, M-l2geth, M-contracts, C-Protocol-Critical

#846 [fix]: fix internal audit bugs
  packages/contracts/contracts/L1/messaging/L1StandardBridge.sol
  packages/contracts/contracts/L1/tss/TssGroupManager.sol
  packages/contracts/contracts/L1/tss/TssStakingSlashing.sol
  packages/contracts/contracts/da/BVM_EigenDataLayrChain.sol
  packages/contracts/contracts/da/BVM_EigenDataLayrFee.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#847 R4R Feature/simple delegation
  fraud-proof/bindings/Rollup.go
  fraud-proof/rollup/services/base.go
  fraud-proof/rollup/services/validator/validator.go
  go.work.sum
  mt-batcher/go.mod
  mt-batcher/go.sum
  mt-challenger/go.mod
  mt-challenger/go.sum
  ops/scripts/deployer.sh
  packages/contracts/addresses.json
  packages/contracts/addresses.txt
  packages/contracts/contracts/L1/fraud-proof/IRollup.sol
  packages/contracts/contracts/L1/fraud-proof/Rollup.sol
  packages/contracts/contracts/L1/fraud-proof/WhiteList.sol
  packages/contracts/deploy/019-BVM_FraudProof.deploy.ts
  packages/contracts/genesis/addresses.json
  packages/contracts/genesis/local.json
  packages/contracts/genesis/state-dump.latest.json
  packages/contracts/tasks/fraud-proof-tasks.ts
  packages/contracts/test/contracts/L1/fraud-proof/RollUp.spec.ts
Labels: 2-reviewers, M-contracts, C-Protocol-Critical, M-ops

#856 modulize the setcode of l2geth
  l2geth/core/state_processor.go
  l2geth/core/upgrade/module.go
  packages/contracts/addresses.txt
  packages/contracts/genesis/local.json
Labels: 2-reviewers, M-l2geth, M-contracts, C-Protocol-Critical

#869 Bugfix/incloud l1 tip for l1 price
  fraud-proof/rollup/services/base.go
  gas-oracle/oracle/base_fee.go
  package.json
  packages/contracts/contracts/L1/messaging/L1StandardBridge.sol
  packages/contracts/contracts/L1/tss/TssGroupManager.sol
  packages/contracts/contracts/da/BVM_EigenDataLayrChain.sol
  packages/contracts/contracts/da/BVM_EigenDataLayrFee.sol
  yarn.lock
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#871 Merge/v0.4.0 merge develop
  fraud-proof/rollup/services/base.go
  gas-oracle/oracle/base_fee.go
  package.json
  packages/contracts/contracts/L1/messaging/L1StandardBridge.sol
  packages/contracts/contracts/L1/tss/TssGroupManager.sol
  packages/contracts/contracts/da/BVM_EigenDataLayrChain.sol
  packages/contracts/contracts/da/BVM_EigenDataLayrFee.sol
  packages/contracts/package.json
  packages/data-transport-layer/package.json
  packages/data-transport-layer/src/services/l1-ingestion/handlers/state-batch-appended.ts
  packages/sdk/package.json
  packages/sdk/src/cross-chain-messenger.ts
  packages/sdk/src/interfaces/types.ts
  packages/sdk/src/utils/contracts.ts
  yarn.lock
Labels: 2-reviewers, M-contracts, M-dtl, M-sdk, C-Protocol-Critical

#837 Feature/delegation tss
  go.work.sum
  ops/config/tss-manager-config.toml
  ops/scripts/deployer.sh
  packages/contracts/addresses.json
  packages/contracts/addresses.txt
  packages/contracts/contracts/L1/delegation/Delegation.sol
  packages/contracts/contracts/L1/delegation/DelegationManager.sol
  packages/contracts/contracts/L1/delegation/DelegationManagerStorage.sol
  packages/contracts/contracts/L1/delegation/DelegationShareBase.sol
  packages/contracts/contracts/L1/tss/ITssGroupManager.sol
  packages/contracts/contracts/L1/tss/ITssStakingSlashing.sol
  packages/contracts/contracts/L1/tss/TssGroupManager.sol
  packages/contracts/contracts/L1/tss/TssStakingSlashing.sol
  packages/contracts/contracts/L1/tss/delegation/TssDelegation.sol
  packages/contracts/contracts/L1/tss/delegation/TssDelegationManager.sol
  packages/contracts/contracts/L1/tss/delegation/TssDelegationSlasher.sol
  packages/contracts/contracts/L2/predeploys/TssRewardContract.sol
  packages/contracts/contracts/L2/predeploys/iTssRewardContract.sol
  packages/contracts/deploy/010-TssContracts.ts
  packages/contracts/filenames.txt
  packages/contracts/genesis/addresses.json
  packages/contracts/genesis/local.json
  packages/contracts/genesis/state-dump.latest.json
  tss/common/config.go
  tss/common/types.go
  tss/common/utils.go
  tss/manager/cmd.go
  tss/manager/manage.go
  tss/manager/sign.go
  tss/manager/sign_test.go
  tss/manager/slash.go
  tss/node/signer/sign_slash.go
Labels: 2-reviewers, M-contracts, C-Protocol-Critical, M-ops

#875 comment l1 mint call
  packages/contracts/genesis/local.json
  packages/contracts/genesis/state-dump.latest.json
  packages/contracts/tasks/fraud-proof-tasks.ts
Labels: 2-reviewers, M-contracts

#878 feat: add da batch index into transaction
  packages/data-transport-layer/src/services/da-ingestion/service.ts
Labels: 2-reviewers, M-dtl, C-Protocol-Critical

#881 feat: fix batch submitter script
  ops/scripts/batch-submitter.sh
Labels: 2-reviewers, M-ops

#885 Hotfix/da multi modify tools
  packages/data-transport-layer/src/services/da-ingestion/service.ts
  packages/data-transport-layer/src/services/l1-ingestion/service.ts
  packages/data-transport-layer/src/services/main/service.ts
  packages/data-transport-layer/src/services/run.ts
Labels: 2-reviewers, M-dtl, C-Protocol-Critical

#886 hotfix merge to v0.4.0
  ops/scripts/batch-submitter.sh
  packages/data-transport-layer/src/services/da-ingestion/service.ts
  packages/data-transport-layer/src/services/l1-ingestion/service.ts
  packages/data-transport-layer/src/services/main/service.ts
  packages/data-transport-layer/src/services/run.ts
Labels: 2-reviewers, M-dtl, C-Protocol-Critical, M-ops

#888 feat: modify eigenDaBlock to 8280000 for upgrade
  packages/contracts/deploy-config/goerli-testnet.ts
Labels: 2-reviewers, M-contracts

#889 wb:fix genesis bug
  l2geth/consensus/clique/clique.go
  l2geth/core/genesis.go
  l2geth/params/config.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#890 wb:fix genesis bug
  l2geth/consensus/clique/clique.go
  l2geth/core/genesis.go
  l2geth/params/config.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#891 feat: modify eigenDaBlock to 8280000 for upgrade (#888)
  packages/contracts/deploy-config/goerli-testnet.ts
Labels: 2-reviewers, M-contracts

#892 [fix]: add metrics for fp
  fraud-proof/cmd/flags.go
  fraud-proof/metrics/metrics.go
  fraud-proof/metrics/metrics_test.go
  fraud-proof/metrics/types.go
  fraud-proof/rollup/services/sequencer/sequencer.go
  fraud-proof/rollup/services/validator/validator.go
  go.work
  go.work.sum
  l2geth/cmd/geth/main.go
  l2geth/cmd/utils/flags.go
  metrics/go.mod
  metrics/go.sum
  metrics/manager.go
  metrics/namespace.go
  mt-batcher/go.mod
  mt-challenger/go.mod
  ops/envs/fraud_proof.env
  packages/contracts/genesis/local.json
  packages/contracts/genesis/state-dump.latest.json
  packages/contracts/tasks/fraud-proof-tasks.ts
Labels: 2-reviewers, M-l2geth, M-contracts, C-Protocol-Critical, M-ops

#887 add staker
  packages/contracts/tasks/fraud-proof-tasks.ts
Labels: 2-reviewers, M-contracts

#893 [fix]: fix concurrent map r/w
  metrics/namespace.go
  packages/contracts/genesis/local.json
  packages/contracts/genesis/state-dump.latest.json
Labels: 2-reviewers, M-contracts

#895 [fix]: fix get block nil pointer
  fraud-proof/rollup/services/validator/validator.go
  packages/contracts/genesis/local.json
  packages/contracts/genesis/state-dump.latest.json
Labels: 2-reviewers, M-contracts

#897 [fix]: import-fp-operator-key-into-l2geth
  batch-submitter/drivers/proposer/driver.go
  fraud-proof/cmd/flags.go
  l2geth/cmd/utils/flags.go
  ops/scripts/geth.sh
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical, M-ops

#903 Feature/merge main to develop
  ops/scripts/batch-submitter.sh
  packages/contracts/deploy-config/goerli-testnet.ts
  packages/data-transport-layer/src/services/da-ingestion/service.ts
  packages/data-transport-layer/src/services/l1-ingestion/service.ts
  packages/data-transport-layer/src/services/main/service.ts
  packages/data-transport-layer/src/services/run.ts
  packages/data-transport-layer/src/services/server/service.ts
Labels: 2-reviewers, M-l2geth, M-contracts, M-dtl, M-sdk, C-Protocol-Critical, M-ops

#904 Feature/merge 0.4.0 to develop
  batch-submitter/drivers/proposer/driver.go
  fraud-proof/cmd/flags.go
  fraud-proof/metrics/metrics.go
  fraud-proof/metrics/metrics_test.go
  fraud-proof/metrics/types.go
  fraud-proof/rollup/services/sequencer/sequencer.go
  fraud-proof/rollup/services/validator/validator.go
  gas-oracle/oracle/base_fee.go
  go.work
  go.work.sum
  l2geth/cmd/geth/main.go
  l2geth/cmd/utils/flags.go
  metrics/go.mod
  metrics/go.sum
  metrics/manager.go
  metrics/namespace.go
  mt-batcher/go.mod
  mt-challenger/go.mod
  ops/envs/fraud_proof.env
  ops/scripts/geth.sh
  packages/contracts/contracts/L1/fraud-proof/WhiteList.sol
  packages/contracts/contracts/L1/messaging/L1StandardBridge.sol
  packages/contracts/genesis/local.json
  packages/contracts/genesis/state-dump.latest.json
  packages/contracts/tasks/fraud-proof-tasks.ts
Labels: 2-reviewers, M-l2geth, M-contracts, C-Protocol-Critical, M-ops

#905 Feature/go sum fix
  go.work.sum
  mt-batcher/go.mod
Labels: 2-reviewers, M-l2geth, M-contracts, M-dtl, M-sdk, C-Protocol-Critical, M-ops

#906 [fix]: twist fraud proof task
  packages/contracts/deploy/019-BVM_FraudProof.deploy.ts
  packages/contracts/tasks/fraud-proof-tasks.ts
Labels: 2-reviewers, M-contracts

#907 [fix]: fix l2geth local import
  integration-tests/package.json
  l2geth/Dockerfile
  l2geth/go.mod
  l2geth/go.sum
  packages/fault-detector/package.json
  packages/message-relayer/package.json
Labels: 2-reviewers, M-l2geth, M-integration

#911 feat: merge develop to v0.4.0
  integration-tests/package.json
  l2geth/Dockerfile
  l2geth/go.mod
  l2geth/go.sum
  packages/contracts/deploy/019-BVM_FraudProof.deploy.ts
  packages/contracts/tasks/fraud-proof-tasks.ts
  packages/fault-detector/package.json
  packages/message-relayer/package.json
Labels: 2-reviewers, M-l2geth, M-integration, M-contracts

#913 [fix]: fix batch submitter docker-file
  batch-submitter/Dockerfile
  batch-submitter/drivers/proposer/driver.go
  batch-submitter/drivers/sequencer/driver.go
  batch-submitter/go.mod
  batch-submitter/go.sum
  fraud-proof/go.mod
  fraud-proof/go.sum
  l2geth/go.mod
  l2geth/go.sum
  metrics/go.mod
  metrics/go.sum
  mt-batcher/go.mod
  mt-batcher/go.sum
  mt-challenger/go.mod
  mt-challenger/go.sum
  ops/scripts/batch-submitter.sh
  packages/contracts/contracts/L1/fraud-proof/IRollup.sol
  packages/contracts/contracts/L1/fraud-proof/Rollup.sol
  packages/contracts/contracts/L1/fraud-proof/WhiteList.sol
  packages/sdk/src/cross-chain-messenger.ts
  yarn.lock
Labels: 2-reviewers, M-l2geth, M-contracts, M-sdk, C-Protocol-Critical, M-ops

#877 [fix]: delete unsecessary import from rollup
  packages/contracts/contracts/L1/fraud-proof/Rollup.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#918 [fix]: fix whitelist update
  packages/contracts/contracts/L1/fraud-proof/WhiteList.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#919 Release/v0.4.0
  gas-oracle/oracle/base_fee.go
  gas-oracle/oracle/l1_client.go
  packages/contracts/contracts/L1/fraud-proof/WhiteList.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#908 hotfix: change the permission of set fraud-proof-window
  packages/contracts/contracts/L1/rollup/StateCommitmentChain.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#923 Bugfix/delete batch without gap
  packages/contracts/contracts/L1/fraud-proof/Rollup.sol
  packages/data-transport-layer/src/services/l1-ingestion/handlers/state-batch-appended.ts
  packages/data-transport-layer/src/services/l1-ingestion/handlers/state-cached-batch-appended.ts
  packages/sdk/src/cross-chain-messenger.ts
Labels: 2-reviewers, M-contracts, M-dtl, M-sdk, C-Protocol-Critical
