Repository mantlenetworkio/mantle, pull requests merged in 2023-06, with the labels that each got.

#925 Audit fix tss
  packages/contracts/contracts/L1/rollup/StateCommitmentChain.sol
  tss/manager/store/storage.go
  tss/node/store/storage.go
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#927 Hotfix/tx nil pointer
  l2geth/internal/ethapi/api.go
  packages/data-transport-layer/src/services/l1-ingestion/handlers/state-cached-batch-appended.ts
  packages/data-transport-layer/src/services/l1-ingestion/service.ts
Labels: 2-reviewers, M-l2geth, M-dtl, C-Protocol-Critical

#928 Bug/fix tx status
  l2geth/internal/ethapi/api.go
  packages/data-transport-layer/src/services/l1-ingestion/handlers/state-cached-batch-appended.ts
  packages/data-transport-layer/src/services/l1-ingestion/service.ts
Labels: 2-reviewers, M-l2geth, M-dtl, C-Protocol-Critical

#934 Feature/feature/internal-audit-fix
  packages/contracts/contracts/L1/tss/TssGroupManager.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#938 Bugfix/delete batch without gap
  packages/contracts/contracts/L1/fraud-proof/AssertionMap.sol
  packages/contracts/contracts/L1/fraud-proof/Rollup.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#844 wb: import hsm for all centenralized key service
  batch-submitter/batch_submitter.go
  batch-submitter/config.go
  batch-submitter/drivers/proposer/driver.go
  batch-submitter/drivers/sequencer/driver.go
  batch-submitter/flags/flags.go
  bss-core/crypto.go
  bss-core/go.mod
  bss-core/go.sum
  bss-core/hsm_signer.go
  bss-core/hsm_signer_test.go
  fraud-proof/cmd/flags.go
  fraud-proof/rollup/services/config.go
  fraud-proof/service.go
  gas-oracle/flags/flags.go
  gas-oracle/oracle/base_fee.go
  gas-oracle/oracle/config.go
  gas-oracle/oracle/da_fee.go
  gas-oracle/oracle/gas_price_oracle.go
  gas-oracle/oracle/updater_interface.go
  go.work.sum
  l2geth/cmd/geth/main.go
  l2geth/cmd/utils/flags.go
  mt-batcher/config.go
  mt-batcher/flags/flags.go
  mt-batcher/go.sum
  mt-batcher/mt_batcher.go
  mt-batcher/services/common/crypto.go
  mt-batcher/services/sequencer/driver.go
  mt-challenger/challenger/challenger.go
  mt-challenger/config.go
  mt-challenger/flags/flags.go
  mt-challenger/go.sum
  mt-challenger/mt_challenger.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical, Stale

#939 Hotfix/ctc reset
  packages/contracts/contracts/L1/rollup/CanonicalTransactionChain.sol
  packages/contracts/contracts/L1/rollup/ICanonicalTransactionChain.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#942 Feature/mnt upgrade
  l2geth/cmd/geth/main.go
  l2geth/cmd/geth/usage.go
  l2geth/cmd/utils/flags.go
  l2geth/core/state_processor.go
  l2geth/core/upgrade/module.go
  l2geth/eth/backend.go
  l2geth/params/config.go
  l2geth/rollup/config.go
  packages/contracts/genesis/local.json
  packages/contracts/genesis/state-dump.latest.json
Labels: 2-reviewers, M-l2geth, M-contracts, C-Protocol-Critical

#946 Tssreward setcode
  l2geth/core/upgrade/module.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#948 fix require
  packages/contracts/contracts/L1/fraud-proof/Rollup.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#949 fix: go sum
  fraud-proof/go.mod
  fraud-proof/go.sum
  go.work.sum
  l2geth/Dockerfile
  l2geth/go.mod
  l2geth/go.sum
Labels: 2-reviewers, M-l2geth

#952 feat: fix contracts for hsm
  packages/contracts/contracts/da/BVM_EigenDataLayrChain.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#953 Audit fix
  packages/contracts/contracts/L1/rollup/StateCommitmentChain.sol
  tss/manager/store/storage.go
  tss/node/store/storage.go
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#954 fix bug in scc contract
  packages/contracts/contracts/L1/rollup/StateCommitmentChain.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#945 Bugfix/fix fraud proof
  gas-oracle/flags/flags.go
  gas-oracle/go.mod
  gas-oracle/go.sum
  gas-oracle/oracle/base_fee.go
  gas-oracle/oracle/base_fee_test.go
  gas-oracle/oracle/gas_price_oracle.go
  gas-oracle/oracle/l1_client.go
  gas-oracle/oracle/updater_interface_test.go
  packages/contracts/contracts/L1/fraud-proof/AssertionMap.sol
  packages/contracts/contracts/L1/fraud-proof/Rollup.sol
  packages/contracts/contracts/L1/fraud-proof/WhiteList.sol
  packages/package.json
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#956 Bugfix/fix delete batch
  packages/contracts/contracts/L1/fraud-proof/AssertionMap.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#963 update_npm_versions
  packages/contracts/package.json
  packages/sdk/package.json
Labels: 2-reviewers, M-contracts, M-sdk

#962 update_npm_versions
  packages/contracts/package.json
  packages/sdk/package.json
Labels: 2-reviewers, M-contracts, M-sdk

#968 Hotfix/add da upgrade function
  l2geth/rollup/client_v2.go
  l2geth/rollup/sync_service.go
  mt-batcher/go.mod
  mt-batcher/go.sum
  mt-challenger/go.mod
  mt-challenger/go.sum
  packages/contracts/contracts/da/BVM_EigenDataLayrChain.sol
  packages/data-transport-layer/package.json
  packages/data-transport-layer/src/services/da-ingestion/service.ts
  packages/data-transport-layer/src/services/l1-ingestion/handlers/state-batch-appended.ts
  packages/data-transport-layer/src/services/l1-ingestion/handlers/state-cached-batch-appended.ts
  packages/data-transport-layer/src/services/main/service.ts
  packages/data-transport-layer/src/services/run.ts
  packages/fault-detector/package.json
  packages/message-relayer/package.json
  yarn.lock
Labels: 2-reviewers, M-l2geth, M-contracts, M-dtl, C-Protocol-Critical

#969 main merge to develop
  fraud-proof/service.go
  gas-oracle/oracle/base_fee.go
  l2geth/rollup/client_v2.go
  l2geth/rollup/sync_service.go
  mt-batcher/go.mod
  mt-batcher/go.sum
  mt-challenger/Makefile
  mt-challenger/go.mod
  mt-challenger/go.sum
  packages/contracts/contracts/da/BVM_EigenDataLayrChain.sol
  packages/data-transport-layer/package.json
  packages/data-transport-layer/src/services/da-ingestion/service.ts
  packages/data-transport-layer/src/services/l1-ingestion/handlers/state-batch-appended.ts
  packages/data-transport-layer/src/services/l1-ingestion/handlers/state-cached-batch-appended.ts
  packages/data-transport-layer/src/services/main/service.ts
  packages/data-transport-layer/src/services/run.ts
  packages/fault-detector/package.json
  packages/message-relayer/package.json
  yarn.lock
Labels: 2-reviewers, M-l2geth, M-contracts, M-dtl, C-Protocol-Critical

#971 [R4R]Hotfix/debug mt batcher
  mt-batcher/config.go
  mt-batcher/flags/flags.go
  mt-batcher/mt_batcher.go
  mt-batcher/services/sequencer/driver.go
  mt-challenger/challenger/challenger.go
  mt-challenger/flags/flags.go
  mt-challenger/mt_challenger.go
  packages/contracts/deploy-config/goerli-qa.ts
  packages/contracts/deploy-config/goerli-testnet.ts
  packages/contracts/deploy-config/local.ts
  packages/contracts/deploy-config/mainnet.ts
  packages/contracts/deploy/018-BVM_EigenDataLayrChain.deploy.ts
  packages/contracts/deploy/020-BVM_EigenDataLayrFee.deploy.ts
Labels: 2-reviewers, M-contracts

#970 testnet upgrade
  l2geth/core/upgrade/module.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#975 [hotfix/0.4.0] txstatus
  l2geth/eth/api_backend.go
  l2geth/internal/ethapi/api.go
  l2geth/rollup/client.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#978 Hotfix/debug replica txstatus
  l2geth/eth/api_backend.go
  l2geth/internal/ethapi/api.go
  l2geth/rollup/client.go
  packages/data-transport-layer/src/db/transport-db.ts
  packages/data-transport-layer/src/services/l1-ingestion/service.ts
  packages/data-transport-layer/src/services/server/service.ts
Labels: 2-reviewers, M-l2geth, M-dtl, C-Protocol-Critical

#979 Release/0.4.1
  l2geth/eth/api_backend.go
  l2geth/internal/ethapi/api.go
  l2geth/rollup/client.go
  packages/data-transport-layer/src/db/transport-db.ts
  packages/data-transport-layer/src/services/l1-ingestion/service.ts
  packages/data-transport-layer/src/services/server/service.ts
Labels: 2-reviewers, M-l2geth, M-dtl, C-Protocol-Critical

#985 hotfix: fix da dtl get queue is null from l1 data, that may cause ver…
  packages/data-transport-layer/src/services/da-ingestion/service.ts
Labels: 2-reviewers, M-dtl, C-Protocol-Critical

#986 Update CODEOWNERS
  .github/CODEOWNERS
Labels: 2-reviewers

#987 hotfix: fix da dtl get queue is null from l1 data, that may cause ver…
  .github/CODEOWNERS
  packages/data-transport-layer/src/services/da-ingestion/service.ts
Labels: 2-reviewers, M-dtl, C-Protocol-Critical

#996 Bugfix/fix dependency
  batch-submitter/go.mod
  batch-submitter/go.sum
  bss-core/go.mod
  bss-core/go.sum
  fraud-proof/go.mod
  fraud-proof/go.sum
  gas-oracle/go.sum
  go.work
  go.work.sum
  integration-tests/go-tests/go.mod
  integration-tests/go-tests/go.sum
  l2geth-exporter/go.mod
  l2geth-exporter/go.sum
  l2geth/go.mod
  l2geth/go.sum
  metrics/go.mod
  metrics/go.sum
  mt-batcher/go.mod
  mt-batcher/go.sum
  mt-challenger/go.mod
  mt-challenger/go.sum
  proxyd/go.mod
  proxyd/go.sum
  state-surgery/cli.go
  state-surgery/go.mod
  state-surgery/go.sum
  subsidy/go.mod
  subsidy/go.sum
  tss/go.mod
  tss/go.sum
Labels: 2-reviewers, M-l2geth, M-integration

#1001 bugfix: fix dtl synchronization mantle da data fault problem
  packages/data-transport-layer/src/services/da-ingestion/service.ts
Labels: 2-reviewers, M-dtl, C-Protocol-Critical

#1002 change pr stale days to 30
  .github/workflows/close-stale.yml
Labels: 2-reviewers

#1004 [R4R] bugfix: remove rebundant code in dtl
  packages/data-transport-layer/src/services/l1-ingestion/service.ts
Labels: 2-reviewers, M-dtl, C-Protocol-Critical

#993 [R4R]: merge 0.4.1 to main
  .github/workflows/close-stale.yml
  batch-submitter/go.mod
  batch-submitter/go.sum
  bss-core/go.mod
  bss-core/go.sum
  fraud-proof/go.mod
  fraud-proof/go.sum
  gas-oracle/go.sum
  go.work
  go.work.sum
  integration-tests/go-tests/go.mod
  integration-tests/go-tests/go.sum
  l2geth-exporter/go.mod
  l2geth-exporter/go.sum
  l2geth/go.mod
  l2geth/go.sum
  metrics/go.mod
  metrics/go.sum
  mt-batcher/Dockerfile
  mt-batcher/go.mod
  mt-batcher/go.sum
  mt-batcher/services/sequencer/driver.go
  mt-challenger/Dockerfile
  mt-challenger/go.mod
  mt-challenger/go.sum
  packages/data-transport-layer/src/services/da-ingestion/service.ts
  packages/data-transport-layer/src/services/l1-ingestion/service.ts
  proxyd/go.mod
  proxyd/go.sum
  state-surgery/cli.go
  state-surgery/go.mod
  state-surgery/go.sum
  subsidy/go.mod
  subsidy/go.sum
  tss/Dockerfile
  tss/go.mod
  tss/go.sum
  tss/manager/manage.go
  tss/manager/router/registry.go
  tss/node/cmd/tssnode/cmd.go
  tss/node/signer/delete_slash.go
  tss/node/signer/process.go
  tss/node/signer/verify_slash.go
  tss/slash/slash.go
  tss/slash/slash_node.go
Labels: 2-reviewers, M-l2geth, M-integration, M-dtl, C-Protocol-Critical

#1007 [R4R][l2geth]: Upgrade l2geth, including hard fork upgrades and precompiled contract upgrades
  fraud-proof/proof/api.go
  l2geth/cmd/geth/main.go
  l2geth/cmd/geth/usage.go
  l2geth/cmd/utils/flags.go
  l2geth/consensus/clique/clique.go
  l2geth/core/blockchain.go
  l2geth/core/evm.go
  l2geth/core/genesis.go
  l2geth/core/state_processor.go
  l2geth/core/types/gen_receipt_json.go
  l2geth/core/types/receipt.go
  l2geth/core/upgrade/config.go
  l2geth/core/upgrade/config_test.go
  l2geth/core/upgrade/module.go
  l2geth/core/upgrade/upgrade_status_basedon_l1.go
  l2geth/eth/backend.go
  l2geth/light/lightchain.go
  l2geth/params/config.go
  l2geth/rollup/config.go
  packages/contracts/genesis/local.json
  packages/contracts/genesis/state-dump.latest.json
Labels: 2-reviewers, M-l2geth, M-contracts, C-Protocol-Critical

#940 [R4R] added debug_traceCall
  l2geth/eth/api_tracer.go
  l2geth/internal/ethapi/api.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#1011 [R4R]: fix l2geth build
  l2geth/go.mod
  l2geth/go.sum
  mt-batcher/docker.go.work
  mt-challenger/docker.go.work
  mt-challenger/go.mod
Labels: 2-reviewers, M-l2geth

#1012 [R4R]: Release/v0.4.1
  .github/workflows/close-stale.yml
  l2geth/go.mod
  l2geth/go.sum
  mt-batcher/Dockerfile
  mt-batcher/docker.go.work
  mt-batcher/services/sequencer/driver.go
  mt-challenger/Dockerfile
  mt-challenger/docker.go.work
  mt-challenger/go.mod
  packages/data-transport-layer/src/services/da-ingestion/service.ts
  packages/data-transport-layer/src/services/l1-ingestion/service.ts
  tss/Dockerfile
  tss/manager/manage.go
  tss/manager/router/registry.go
  tss/node/cmd/tssnode/cmd.go
  tss/node/signer/delete_slash.go
  tss/node/signer/process.go
  tss/node/signer/verify_slash.go
  tss/slash/slash.go
  tss/slash/slash_node.go
Labels: 2-reviewers, M-l2geth, M-dtl, C-Protocol-Critical

#926 [R4R]: imple adjusted overhead
  batch-submitter/batch_submitter.go
  batch-submitter/config.go
  batch-submitter/drivers/proposer/driver.go
  batch-submitter/flags/flags.go
  fraud-proof/bindings/gen.go
  gas-oracle/bindings/BVM_EigenDataLayrFee.go
  gas-oracle/bindings/BVM_GasPriceOracle.go
  gas-oracle/bindings/CanonicalTransactionChain.go
  gas-oracle/bindings/StateCommitmentChain.go
  gas-oracle/bindings/compile.sh
  gas-oracle/bindings/gen.go
  gas-oracle/flags/flags.go
  gas-oracle/oracle/config.go
  gas-oracle/oracle/gas_price_oracle.go
  gas-oracle/oracle/overhead.go
  mt-batcher/config.go
  mt-batcher/flags/flags.go
  mt-batcher/mt_batcher.go
  mt-batcher/services/sequencer/driver.go
  packages/contracts/contracts/L1/fraud-proof/Rollup.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#1010 [R4R][l2geth]bugfix: delete panic when charge_fee_switch > 1
  l2geth/core/state_transition.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#1015 [R4R]: Bugfix/add proxy l1 mantle address
  packages/contracts/deploy-config/goerli-qa.ts
  packages/contracts/deploy-config/goerli-testnet.ts
  packages/contracts/deploy-config/hardhat.ts
Labels: 2-reviewers, M-contracts

#1018 Update CODEOWNERS
  .github/CODEOWNERS
Labels: 2-reviewers

#1014 [R4R][gasoracle]feat: add uniswap to get token ratio for ETH/MNT; support different token ratio mode
  gas-oracle/Makefile
  gas-oracle/abis/uniswapv3_quoter.json
  gas-oracle/bindings/BVM_GasPriceOracle.go
  gas-oracle/bindings/uniswapv3_quoter.go
  gas-oracle/flags/flags.go
  gas-oracle/gasprices/gas_price_updater_test.go
  gas-oracle/gasprices/l2_gas_pricer.go
  gas-oracle/oracle/base_fee.go
  gas-oracle/oracle/config.go
  gas-oracle/oracle/gas_price_oracle.go
  gas-oracle/oracle/l1_client.go
  gas-oracle/tokenprice/tokenprice.go
  gas-oracle/tokenprice/tokenprice_test.go
  gas-oracle/tokenprice/tokenprice_uniswap.go
  packages/contracts/genesis/local.json
  packages/contracts/genesis/state-dump.latest.json
Labels: 2-reviewers, M-contracts

#1025 Release/v0.4.1
  .github/CODEOWNERS
  l2geth/go.mod
  l2geth/go.sum
  mt-batcher/docker.go.work
  mt-challenger/docker.go.work
  mt-challenger/go.mod
Labels: 2-reviewers, M-l2geth

#854 R4R: add jwt to tss node rpc
  tss/common/config.go
  tss/common/jwthandle.go
  tss/go.mod
  tss/go.sum
  tss/manager/cmd.go
  tss/node/cmd/tssnode/cmd.go
  tss/node/server/http.go
Labels: Stale

#1032 [R4R]update mainnet and hardhat config items for contracts and mantl…
  mt-challenger/challenger/challenger.go
  packages/contracts/deploy-config/hardhat.ts
  packages/contracts/deploy-config/mainnet.ts
Labels: 2-reviewers, M-contracts

#1033 Merge main branch into develop branch
  .github/CODEOWNERS
  CHANGELOG.md
  fraud-proof/service.go
  mt-batcher/mt_batcher.go
  mt-challenger/mt_challenger.go
Labels: 2-reviewers

#1047 [R4R]: fix gasoracle hsm
  gas-oracle/go.sum
  gas-oracle/oracle/overhead.go
  packages/contracts/genesis/local.json
Labels: 2-reviewers, M-contracts

#1045 [R4R]Feature/fix dtl for consensys audit
  packages/data-transport-layer/src/services/da-ingestion/service.ts
  packages/data-transport-layer/src/services/main/service.ts
  packages/data-transport-layer/src/services/run.ts
  packages/data-transport-layer/src/services/server/service.ts
  packages/data-transport-layer/src/types/api-types.ts
  tss/manager/cmd.go
Labels: 2-reviewers, M-dtl, C-Protocol-Critical

#1050 [R4R]Bugfix/fix tss gomod
  tss/manager/cmd.go
Labels: 2-reviewers, M-l2geth, M-contracts, M-dtl, C-Protocol-Critical

#1052 [R4R]Add a configuration item check for JWT, and do not start JWT if it is…
  packages/contracts/deploy-config/local.ts
  tss/manager/cmd.go
  tss/node/server/http.go
Labels: 2-reviewers, M-contracts

#1075 [R4R][packages]feat: modify Mantle ERC20 address
  ops/docker-compose.local.yml
  packages/contracts/contracts/L1/messaging/L1StandardBridge.sol
  packages/contracts/contracts/L2/predeploys/BVM_MANTLE.sol
  packages/contracts/contracts/test-helpers/L1StandardBridgeUpgrade.sol
  packages/contracts/deploy-config/hardhat.ts
  packages/contracts/genesis/local.json
  packages/contracts/genesis/state-dump.latest.json
  packages/contracts/tasks/take-dump.ts
  packages/contracts/test/contracts/L1/messaging/L1StandardBridge.spec.ts
  packages/sdk/src/adapters/standard-bridge.ts
Labels: 2-reviewers, M-contracts, M-sdk, C-Protocol-Critical, M-ops

#1095 [R4R]Audit fix tss contract
  packages/contracts/contracts/L1/tss/ITssGroupManager.sol
  packages/contracts/contracts/L1/tss/ITssStakingSlashing.sol
  packages/contracts/contracts/L1/tss/TssGroupManager.sol
  packages/contracts/contracts/L1/tss/TssStakingSlashing.sol
  packages/contracts/contracts/L2/predeploys/TssRewardContract.sol
  packages/contracts/contracts/L2/predeploys/iTssRewardContract.sol
  packages/contracts/contracts/da/BVM_EigenDataLayrChain.sol
  packages/contracts/contracts/da/BVM_EigenDataLayrFee.sol
  packages/contracts/contracts/libraries/utils/Lib_Address.sol
  packages/contracts/contracts/test-helpers/FailingReceiver.sol
  packages/contracts/tasks/take-dump.ts
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#1106 [fix]: enrich log, fix erc20 call decimal
  gas-oracle/oracle/gas_price_oracle.go
  mt-batcher/services/sequencer/driver.go
  packages/contracts/contracts/L1/delegation/DelegationShareBase.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#935 [R4R]feat: modify some contracts for op module
  packages/contracts/contracts/L2/predeploys/BVM_SequencerFeeVault.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#1118 [R4R]fix audit issue about slashing function in TssStakingSlashing
  packages/contracts/contracts/L1/tss/ITssStakingSlashing.sol
  packages/contracts/contracts/L1/tss/TssStakingSlashing.sol
  packages/contracts/deploy-config/goerli-qa.ts
  packages/contracts/deploy-config/goerli-testnet.ts
  packages/contracts/deploy-config/hardhat.ts
  packages/contracts/deploy-config/local.ts
  packages/contracts/deploy-config/mainnet.ts
  packages/contracts/deploy/010-TssContracts.ts
  packages/contracts/hardhat.config.ts
  packages/contracts/src/deploy-config.ts
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#1029 [R4R]: remove unused func
  packages/contracts/contracts/L1/messaging/L1StandardBridge.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#1027 [R4R]: add messenger address check to bridge
  packages/contracts/contracts/L1/messaging/L1StandardBridge.sol
  packages/contracts/contracts/L2/messaging/L2StandardBridge.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#1114 [R4R] - {audit-fix}: fix secure3 audit MTL-43
  packages/contracts/contracts/L1/deployment/ChugSplashDictator.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#1135 [R4R] - {0.4.2}: add zero address in oracle.sol
  l2geth/contracts/checkpointoracle/contract/oracle.sol
Labels: 2-reviewers, M-l2geth

#1144 [l2geth & gasoracle]feat: calculate & collect l2 fee
  l2geth/rollup/fees/rollup_fee.go
  l2geth/rollup/sync_service.go
  packages/contracts/hardhat.config.ts
  packages/contracts/src/deploy-config.ts
Labels: 2-reviewers, M-l2geth, M-contracts, C-Protocol-Critical

#1150 [R4R]: fix dtl tx status api bug
  packages/data-transport-layer/src/services/server/service.ts
Labels: 2-reviewers, M-dtl, C-Protocol-Critical

#1149 [R4R]: node package version upgrade for release 0.4.2
  integration-tests/package.json
  mt-challenger/go.mod
  mt-challenger/go.sum
  packages/contracts/package.json
  packages/data-transport-layer/package.json
  packages/fault-detector/package.json
  packages/message-relayer/package.json
  packages/sdk/package.json
  yarn.lock
Labels: 2-reviewers, M-integration, M-contracts, M-dtl, M-sdk

#1157 [R4R]{0.4.2}[deployer]feat: modify tss staking deploy config
  packages/contracts/deploy-config/mainnet.ts
Labels: 2-reviewers, M-contracts

#1158 [R4R]{0.4.2}[deployer]feat: modify tss staking deploy config (#1157)
  packages/contracts/deploy-config/mainnet.ts
Labels: 2-reviewers, M-contracts

#1161 [deployer]feat: modify tss staking deploy config
  packages/contracts/deploy-config/mainnet.ts
Labels: 2-reviewers, M-contracts

#1163 [R4R]: fix dtl tx status
  mt-batcher/services/client/client.go
  mt-batcher/services/restorer/service.go
  packages/data-transport-layer/src/services/server/service.ts
  packages/data-transport-layer/src/types/database-types.ts
Labels: 2-reviewers, M-dtl, C-Protocol-Critical

#1155 [R4R] - {SDK}: fixed @mantleio/contracts version
  integration-tests/package.json
  packages/contracts/package.json
  packages/data-transport-layer/package.json
  packages/fault-detector/package.json
  packages/sdk/package.json
Labels: 2-reviewers, M-integration, M-contracts, M-dtl, M-sdk

#1164 fix dtl datastore bug
  packages/data-transport-layer/src/services/da-ingestion/service.ts
Labels: 2-reviewers, M-dtl, C-Protocol-Critical

#1166 [R4R] - {deployer}: add mainnet deployment
  packages/contracts/deployments/mainnet/AddressDictator.json
  packages/contracts/deployments/mainnet/AssertionMap.json
  packages/contracts/deployments/mainnet/BVM_EigenDataLayrChain.json
  packages/contracts/deployments/mainnet/BVM_EigenDataLayrFee.json
  packages/contracts/deployments/mainnet/BVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/mainnet/BondManager.json
  packages/contracts/deployments/mainnet/CanonicalTransactionChain.json
  packages/contracts/deployments/mainnet/ChainStorageContainer-CTC-batches.json
  packages/contracts/deployments/mainnet/ChainStorageContainer-SCC-batches.json
  packages/contracts/deployments/mainnet/ChugSplashDictator.json
  packages/contracts/deployments/mainnet/EmptyContract.json
  packages/contracts/deployments/mainnet/L1StandardBridge_for_verification_only.json
  packages/contracts/deployments/mainnet/Lib_AddressManager.json
  packages/contracts/deployments/mainnet/Proxy__AssertionMap.json
  packages/contracts/deployments/mainnet/Proxy__BVM_EigenDataLayrChain.json
  packages/contracts/deployments/mainnet/Proxy__BVM_EigenDataLayrFee.json
  packages/contracts/deployments/mainnet/Proxy__BVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/mainnet/Proxy__BVM_L1StandardBridge.json
  packages/contracts/deployments/mainnet/Proxy__Rollup.json
  packages/contracts/deployments/mainnet/Proxy__TSS_GroupManager.json
  packages/contracts/deployments/mainnet/Proxy__TSS_StakingSlashing.json
  packages/contracts/deployments/mainnet/Proxy__TssDelegation.json
  packages/contracts/deployments/mainnet/Proxy__TssDelegationManager.json
  packages/contracts/deployments/mainnet/Proxy__TssDelegationSlasher.json
  packages/contracts/deployments/mainnet/Proxy__Verifier.json
  packages/contracts/deployments/mainnet/Rollup.json
  packages/contracts/deployments/mainnet/StateCommitmentChain.json
  packages/contracts/deployments/mainnet/TssDelegation.json
  packages/contracts/deployments/mainnet/TssDelegationManager.json
  packages/contracts/deployments/mainnet/TssDelegationSlasher.json
  packages/contracts/deployments/mainnet/TssGroupManager.json
  packages/contracts/deployments/mainnet/TssStakingSlashing.json
  packages/contracts/deployments/mainnet/VerifierEntry.json
Labels: 2-reviewers, M-contracts

#1165 [R4R] - {0.4.2}: remove old Optimism bug bounty notice
  packages/contracts/README.md
Labels: 2-reviewers, M-contracts

#1169 [R4R] - {0.4.2}: fix qa deployer config
  packages/contracts/deploy-config/goerli-qa.ts
  packages/contracts/deploy-config/hardhat.ts
  packages/contracts/deploy-config/local.ts
Labels: 2-reviewers, M-contracts

#1181 [R4R][l2geth]hotfix: fix update upgrade gas limit
  l2geth/consensus/clique/clique.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#1197 [R4R] - {0.4.2}: fix deployer config
  packages/contracts/deploy-config/goerli-qa.ts
  packages/contracts/deploy-config/local.ts
Labels: 2-reviewers, M-contracts

#1199 Release/v0.4.2
  CHANGELOG.md
  CONTRIBUTING.md
  DEVELOP.md
  README.md
  SECURITY.md
  batch-submitter/flags/flags.go
  gas-oracle/flags/flags.go
  gas-oracle/oracle/config.go
  gas-oracle/oracle/overhead.go
  integration-tests/package.json
  l2geth/consensus/clique/clique.go
  mt-batcher/services/client/client.go
  mt-batcher/services/restorer/service.go
  packages/contracts/README.md
  packages/contracts/deploy-config/goerli-qa.ts
  packages/contracts/deploy-config/hardhat.ts
  packages/contracts/deploy-config/local.ts
  packages/contracts/deployments/mainnet/AddressDictator.json
  packages/contracts/deployments/mainnet/AssertionMap.json
  packages/contracts/deployments/mainnet/BVM_EigenDataLayrChain.json
  packages/contracts/deployments/mainnet/BVM_EigenDataLayrFee.json
  packages/contracts/deployments/mainnet/BVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/mainnet/BondManager.json
  packages/contracts/deployments/mainnet/CanonicalTransactionChain.json
  packages/contracts/deployments/mainnet/ChainStorageContainer-CTC-batches.json
  packages/contracts/deployments/mainnet/ChainStorageContainer-SCC-batches.json
  packages/contracts/deployments/mainnet/ChugSplashDictator.json
  packages/contracts/deployments/mainnet/EmptyContract.json
  packages/contracts/deployments/mainnet/L1StandardBridge_for_verification_only.json
  packages/contracts/deployments/mainnet/Lib_AddressManager.json
  packages/contracts/deployments/mainnet/Proxy__AssertionMap.json
  packages/contracts/deployments/mainnet/Proxy__BVM_EigenDataLayrChain.json
  packages/contracts/deployments/mainnet/Proxy__BVM_EigenDataLayrFee.json
  packages/contracts/deployments/mainnet/Proxy__BVM_L1CrossDomainMessenger.json
  packages/contracts/deployments/mainnet/Proxy__BVM_L1StandardBridge.json
  packages/contracts/deployments/mainnet/Proxy__Rollup.json
  packages/contracts/deployments/mainnet/Proxy__TSS_GroupManager.json
  packages/contracts/deployments/mainnet/Proxy__TSS_StakingSlashing.json
  packages/contracts/deployments/mainnet/Proxy__TssDelegation.json
  packages/contracts/deployments/mainnet/Proxy__TssDelegationManager.json
  packages/contracts/deployments/mainnet/Proxy__TssDelegationSlasher.json
  packages/contracts/deployments/mainnet/Proxy__Verifier.json
  packages/contracts/deployments/mainnet/Rollup.json
  packages/contracts/deployments/mainnet/StateCommitmentChain.json
  packages/contracts/deployments/mainnet/TssDelegation.json
  packages/contracts/deployments/mainnet/TssDelegationManager.json
  packages/contracts/deployments/mainnet/TssDelegationSlasher.json
  packages/contracts/deployments/mainnet/TssGroupManager.json
  packages/contracts/deployments/mainnet/TssStakingSlashing.json
  packages/contracts/deployments/mainnet/VerifierEntry.json
  packages/contracts/package.json
  packages/data-transport-layer/package.json
  packages/data-transport-layer/src/services/da-ingestion/service.ts
  packages/data-transport-layer/src/services/server/service.ts
  packages/data-transport-layer/src/types/database-types.ts
  packages/fault-detector/package.json
  packages/sdk/package.json
  tss/manager/l1chain/service.go
  tss/node/signer/verify.go
Labels: 2-reviewers, M-l2geth, M-integration, M-contracts, M-dtl, M-sdk, C-Protocol-Critical
