Repository mantlenetworkio/mantle, pull requests merged in 2023-07, with the labels that each got.

#1203 [R4R]: fix BVM_EigenDataLayrChain contract logic
  packages/contracts/contracts/da/BVM_EigenDataLayrChain.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#1213 [R4R] - {0.4.2}: Hotfix/fix verifer sync range
  l2geth/rollup/sync_service.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#1215 [R4R] - {0.4.2}: fix BVM_EigenDataLayrChain contract logic
  l2geth/rollup/sync_service.go
  packages/contracts/contracts/da/BVM_EigenDataLayrChain.sol
Labels: 2-reviewers, M-l2geth, M-contracts, C-Protocol-Critical

#1174 [R4R] - {develop}: add event for resetRollupBatchData
  packages/contracts/contracts/da/BVM_EigenDataLayrChain.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#1176 [R4R] - {develop}: Remove unavailableFraudProofAddress function
  packages/contracts/contracts/da/BVM_EigenDataLayrChain.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#1180 [R4R] - {develop}:Improper Parameter Sanitization in Setter Functions and Unsafe Defaul…
  packages/contracts/contracts/da/BVM_EigenDataLayrChain.sol
  packages/contracts/contracts/da/BVM_EigenDataLayrFee.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#1223 [R4R] - {deployer}: update EigenDataLayrChain deployment
  packages/contracts/deployments/mainnet/BVM_EigenDataLayrChain.json
  packages/contracts/deployments/mainnet/Proxy__BVM_EigenDataLayrChain.json
Labels: 2-reviewers, M-contracts

#1226 R4R: fix jwt secret key config issue
  ops/config/tss-manager-config.toml
  ops/config/tss-node-config.toml
Labels: 2-reviewers, M-ops

#1228 [R4R] - {packages & l2geth & gasoracle}: feat, add some small fixes
  gas-oracle/flags/flags.go
  l2geth/consensus/clique/clique.go
  l2geth/core/upgrade/config_test.go
  packages/contracts/deploy-config/goerli-qa.ts
  packages/contracts/deploy-config/goerli-testnet.ts
  packages/contracts/deploy-config/local.ts
  packages/contracts/genesis/local.json
  packages/contracts/genesis/state-dump.latest.json
  packages/contracts/tasks/take-dump.ts
Labels: 2-reviewers, M-l2geth, M-contracts, C-Protocol-Critical

#1235 [l2geth]bugfix: transaction receipt unmarshal
  l2geth/core/types/gen_receipt_json.go
  l2geth/core/types/receipt.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#1236 [R4R] - {0.4.2} [l2geth] bugfix: transaction receipt unmarshal
  l2geth/core/types/gen_receipt_json.go
  l2geth/core/types/receipt.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#1234 [R4R]: Auditfix/tss ws auth
  mt-batcher/services/restorer/service.go
  packages/contracts/genesis/local.json
  packages/contracts/genesis/state-dump.latest.json
  tss/cmd.go
  tss/common/merkle_tree.go
  tss/common/types.go
  tss/common/utils.go
  tss/index/observe.go
  tss/manager/cmd.go
  tss/manager/keygen.go
  tss/manager/keygen_test.go
  tss/manager/l1chain/service.go
  tss/manager/router/route.go
  tss/manager/slash.go
  tss/manager/slash_test.go
  tss/manager/store/cpk.go
  tss/manager/store/keys.go
  tss/manager/store/slash.go
  tss/manager/store/state_batch.go
  tss/manager/store/storage.go
  tss/manager/types/interface.go
  tss/manager/types/types.go
  tss/node/cmd/tssnode/cmd.go
  tss/node/server/http.go
  tss/node/signer/deal_msg.go
  tss/node/signer/delete_slash.go
  tss/node/signer/keygen.go
  tss/node/signer/process.go
  tss/node/signer/sign.go
  tss/node/signer/sign_slash.go
  tss/node/store/culprit.go
  tss/node/store/keys.go
  tss/node/store/slash.go
  tss/node/store/state_batch.go
  tss/node/store/storage.go
  tss/node/tsslib/abnormal/round_mgr.go
  tss/node/tsslib/common/local_cache_item.go
  tss/node/tsslib/common/tss_helper.go
  tss/node/tsslib/keygen/tss_keygen.go
  tss/node/tsslib/keysign.go
  tss/node/tsslib/keysign/tss_keysign.go
  tss/node/tsslib/monitor/metric.go
  tss/node/tsslib/p2p/communication.go
  tss/node/tsslib/p2p/communication_test.go
  tss/node/tsslib/p2p/stream_helper.go
  tss/node/tsslib/p2p/types.go
  tss/node/tsslib/storage/localstate_mgr.go
  tss/node/tsslib/storage/secrets_mgr.go
  tss/node/tsslib/storage/shamir_mgr.go
  tss/node/tsslib/tss.go
  tss/slash/slash.go
  tss/slash/slash_node.go
  tss/ws/client/client.go
  tss/ws/client/tm/client.go
  tss/ws/server/handler.go
  tss/ws/server/server.go
Labels: 2-reviewers, M-contracts

#1240 [R4R] - {0.4.2}:Bugfix/upgrade da tool
  packages/data-transport-layer/src/services/da-ingestion/service.ts
Labels: 2-reviewers, M-dtl, C-Protocol-Critical

#1247 [R4R] - {sdk}: update sdk mainnet contracts address
  packages/sdk/src/interfaces/types.ts
  packages/sdk/src/utils/contracts.ts
Labels: M-sdk

#1249 [R4R] - {0.4.2}: Merge/merge main into releasev0.4.2
  packages/contracts/deployments/mainnet/BVM_EigenDataLayrChain.json
  packages/contracts/deployments/mainnet/Proxy__BVM_EigenDataLayrChain.json
Labels: 2-reviewers, M-contracts

#1248 Release/v0.4.2
  gas-oracle/metrics/metrics.go
  l2geth/core/types/gen_receipt_json.go
  l2geth/core/types/receipt.go
  packages/data-transport-layer/src/services/da-ingestion/service.ts
  packages/sdk/src/interfaces/types.ts
  packages/sdk/src/utils/contracts.ts
Labels: 2-reviewers, M-l2geth, M-dtl, M-sdk, C-Protocol-Critical

#1250 [R4R] - {0.4.2}: fix dtl sync data bug
  packages/data-transport-layer/src/services/da-ingestion/service.ts
  packages/data-transport-layer/src/services/l1-ingestion/service.ts
Labels: 2-reviewers, M-dtl, C-Protocol-Critical

#1254 [R4R] - {main}: Release/v0.4.2
  README.md
  packages/data-transport-layer/src/services/da-ingestion/service.ts
  packages/data-transport-layer/src/services/l1-ingestion/service.ts
Labels: 2-reviewers, M-dtl, C-Protocol-Critical

#1258 fix dtl sync data bug
  packages/data-transport-layer/src/services/da-ingestion/service.ts
Labels: 2-reviewers, M-dtl, C-Protocol-Critical

#1260 [R4R] - {0.4.2}: fix dtl sync data bug (#1258)
  packages/data-transport-layer/src/services/da-ingestion/service.ts
Labels: 2-reviewers, M-dtl, C-Protocol-Critical

#1292 R4R: fix secure mtl33
  l2geth/core/vm/evm.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#1289 [R4R]- {develop}: l2geth exclude mantleDa dependence so that it can build binary
  l2geth/go.mod
Labels: 2-reviewers, M-l2geth

#1295 [R4R]-{develop}: fix ignore error in NewStateTransition of l2geth
  l2geth/accounts/abi/bind/backends/simulated.go
  l2geth/core/state_transition.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#1288 [R4R]-{develop}: fix caught unhandled error for da upgrade tool
  packages/data-transport-layer/src/services/da-ingestion/service.ts
Labels: 2-reviewers, M-dtl, C-Protocol-Critical

#1298 [R4R]-{develop}: split L1, L2 process execution time for synchronous data for dtl
  packages/data-transport-layer/src/services/da-ingestion/service.ts
  packages/data-transport-layer/src/services/l1-ingestion/service.ts
  packages/data-transport-layer/src/services/l2-ingestion/service.ts
  packages/data-transport-layer/src/services/main/service.ts
  packages/data-transport-layer/src/services/run.ts
Labels: 2-reviewers, M-dtl, C-Protocol-Critical

#1296 [R4R]-{develop}: fix Missing 0 address check in any contracts
  packages/contracts/contracts/da/BVM_EigenDataLayrChain.sol
  packages/contracts/contracts/da/BVM_EigenDataLayrFee.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#1281 [R4R] - {develop}: modify WMANTLE9 to WMANTLE
  packages/contracts/contracts/L2/tokens/wmantle.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#1302 [R4R]-{develop}: fix go mod and mt-challenger config issure
  l2geth/go.mod
  mt-challenger/challenger/db/level.go
  mt-challenger/config.go
  mt-challenger/flags/flags.go
  mt-challenger/mt_challenger.go
Labels: 2-reviewers, M-l2geth

#1282 [R4R]:fix mantle token compile error on foundry
  packages/contracts/contracts/L2/predeploys/BVM_MANTLE.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical, enhancement

#1283 [R4R]-{develop}:clean unused DA contracts
  packages/contracts/contracts/libraries/eigenda/interfaces/IBLSPublicKeyCompendium.sol
  packages/contracts/contracts/libraries/eigenda/interfaces/IEigenPod.sol
  packages/contracts/contracts/libraries/eigenda/interfaces/IEigenPodManager.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#1303 [R4R]: fix compile error for solidity version 0.8.8
  packages/contracts/contracts/L2/predeploys/BVM_MANTLE.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#1307 [R4R]-{develop}: fix l2geth error judge
  l2geth/core/state_transition.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#1305 R4R: fix panic in traceCall
  l2geth/eth/api_tracer.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#1309 R4R: Hotfix debug tract panic for release0.4.2
  l2geth/eth/api_tracer.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#1268 [R4R] - {sdk}: align standard-bridge with selected chain
  packages/sdk/src/adapters/standard-bridge.ts
  packages/sdk/src/utils/contracts.ts
Labels: M-sdk

#1264 [R4R] - {develop}: Log/txstatus element not found
  l2geth/eth/api_backend.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#1314 bugfix: rename rollup to 'Accepted on layer1'
  l2geth/internal/ethapi/api.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#1320 [R4R]-{develop}: remove invalid logical condition
  packages/contracts/contracts/da/BVM_EigenDataLayrFee.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical
