Repository mantlenetworkio/mantle, pull requests merged in 2023-04, with the labels that each got.

#796 Fix test
  packages/contracts/test/contracts/L1/fraud-proof/RollUp.spec.ts
Labels: 2-reviewers, M-contracts

#797 Change default challenge verify config
  ops/scripts/deployer.sh
  packages/contracts/contracts/L1/fraud-proof/challenge/Challenge.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical, M-ops

#799 Update proxy upgrade task
  packages/contracts/contracts/test-helpers/TestUpgrade.sol
  packages/contracts/tasks/upgrade-task.ts
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#798 da contract slot for upgrade change
  packages/contracts/contracts/da/BVM_EigenDataLayrChain.sol
Labels: 2-reviewers, M-contracts, C-Protocol-Critical

#801 Add fraud stake and white list init tasks
  ops/scripts/deployer.sh
  packages/contracts/contracts/L1/fraud-proof/WhiteList.sol
  packages/contracts/deploy/019-BVM_FraudProof.deploy.ts
  packages/contracts/genesis/local.json
  packages/contracts/genesis/state-dump.latest.json
  packages/contracts/src/address-names.ts
  packages/contracts/tasks/fraud-proof-tasks.ts
  packages/contracts/tasks/upgrade-task.ts
Labels: 2-reviewers, M-contracts, C-Protocol-Critical, M-ops

#803 verifier support sync data from da retriver and data layer transport
  l2geth/cmd/geth/main.go
  l2geth/cmd/geth/usage.go
  l2geth/cmd/utils/flags.go
  l2geth/rollup/client_v2.go
  l2geth/rollup/config.go
  l2geth/rollup/eigenda/client.go
  l2geth/rollup/sync_service.go
  packages/data-transport-layer/src/services/da-ingestion/service.ts
  packages/data-transport-layer/src/services/run.ts
Labels: 2-reviewers, M-l2geth, M-dtl, C-Protocol-Critical

#805 Hotfix/v0.3.1bug
  l2geth/rollup/client_v2.go
  l2geth/rollup/sync_service.go
  packages/data-transport-layer/src/services/run.ts
Labels: 2-reviewers, M-l2geth, M-dtl, C-Protocol-Critical

#806 Feature/fraud proof fix merge0.3.1
  batch-submitter/batch_submitter.go
  go.work.sum
  l2geth/cmd/geth/main.go
  l2geth/cmd/geth/usage.go
  l2geth/cmd/utils/flags.go
  l2geth/rollup/client_v2.go
  l2geth/rollup/config.go
  l2geth/rollup/eigenda/client.go
  l2geth/rollup/sync_service.go
  mt-batcher/go.mod
  mt-batcher/go.sum
  mt-challenger/go.mod
  mt-challenger/go.sum
  packages/contracts/addresses.json
  packages/contracts/addresses.txt
  packages/contracts/contracts/L1/fraud-proof/verifier/subverifiers/MemoryOpVerifier.sol
  packages/contracts/contracts/L1/fraud-proof/verifier/subverifiers/StorageOpVerifier.sol
  packages/contracts/contracts/da/BVM_EigenDataLayrChain.sol
  packages/contracts/contracts/test-helpers/TestUpgrade.sol
  packages/contracts/genesis/addresses.json
  packages/contracts/genesis/local.json
  packages/contracts/genesis/state-dump.latest.json
  packages/contracts/hardhat.config.ts
  packages/contracts/tasks/upgrade-task.ts
  packages/data-transport-layer/src/services/da-ingestion/service.ts
  packages/data-transport-layer/src/services/run.ts
  tss/bindings/fp/Challenge.go
  tss/node/signer/process.go
Labels: 2-reviewers, M-l2geth, M-contracts, M-dtl, C-Protocol-Critical, M-ops

#810 fix chainid config
  packages/data-transport-layer/src/services/da-ingestion/service.ts
Labels: 2-reviewers, M-dtl, C-Protocol-Critical

#787 R4R:L2geth and gasOracle add Da fee
  gas-oracle/bindings/bvm_eigen_datalayr_fee.go
  gas-oracle/bindings/gaspriceoracle.go
  gas-oracle/flags/flags.go
  gas-oracle/go.mod
  gas-oracle/go.sum
  gas-oracle/oracle/config.go
  gas-oracle/oracle/da_fee.go
  gas-oracle/oracle/da_fee_test.go
  gas-oracle/oracle/gas_price_oracle.go
  go.work
  go.work.sum
  l2geth/consensus/clique/clique.go
  l2geth/core/state_processor.go
  l2geth/core/state_transition.go
  l2geth/core/types/receipt.go
  l2geth/core/vm/evm.go
  l2geth/eth/gasprice/rollup_gasprice.go
  l2geth/go.mod
  l2geth/go.sum
  l2geth/params/config.go
  l2geth/rollup/fees/bindings/gaspriceoracle_test.go
  l2geth/rollup/fees/rollup_fee.go
  l2geth/rollup/rcfg/config.go
  l2geth/rollup/sync_service.go
  ops/docker-compose.yml
  packages/contracts/addresses.json
  packages/contracts/addresses.txt
  packages/contracts/contracts/L2/predeploys/BVM_GasPriceOracle.sol
  packages/contracts/deploy-config/goerli-qa.ts
  packages/contracts/deploy-config/goerli-testnet.ts
  packages/contracts/deploy-config/local.ts
  packages/contracts/filenames.txt
  packages/contracts/genesis/addresses.json
  packages/contracts/genesis/local.json
  packages/contracts/genesis/state-dump.latest.json
  packages/contracts/tasks/take-dump.ts
Labels: 2-reviewers, M-l2geth, M-contracts, C-Protocol-Critical, M-ops

#811 Feature/da fee model
  gas-oracle/bindings/bvm_eigen_datalayr_fee.go
  gas-oracle/bindings/gaspriceoracle.go
  gas-oracle/flags/flags.go
  gas-oracle/go.mod
  gas-oracle/go.sum
  gas-oracle/oracle/config.go
  gas-oracle/oracle/da_fee.go
  gas-oracle/oracle/da_fee_test.go
  gas-oracle/oracle/gas_price_oracle.go
  go.work
  go.work.sum
  l2geth/consensus/clique/clique.go
  l2geth/core/state_processor.go
  l2geth/core/state_transition.go
  l2geth/core/types/receipt.go
  l2geth/core/vm/evm.go
  l2geth/eth/gasprice/rollup_gasprice.go
  l2geth/go.mod
  l2geth/go.sum
  l2geth/params/config.go
  l2geth/rollup/fees/bindings/gaspriceoracle_test.go
  l2geth/rollup/fees/rollup_fee.go
  l2geth/rollup/rcfg/config.go
  l2geth/rollup/sync_service.go
  mt-batcher/bindings/bvm_eigen_datalayr_fee.go
  mt-batcher/config.go
  mt-batcher/flags/flags.go
  mt-batcher/go.mod
  mt-batcher/go.sum
  mt-batcher/mt_batcher.go
  mt-batcher/services/restorer/handle.go
  mt-batcher/services/sequencer/driver.go
  mt-challenger/go.mod
  mt-challenger/go.sum
  ops/docker-compose.yml
  packages/contracts/addresses.json
  packages/contracts/addresses.txt
  packages/contracts/contracts/L2/predeploys/BVM_GasPriceOracle.sol
  packages/contracts/contracts/da/BVM_EigenDataLayrFee.sol
  packages/contracts/deploy-config/goerli-qa.ts
  packages/contracts/deploy-config/goerli-testnet.ts
  packages/contracts/deploy-config/local.ts
  packages/contracts/deploy/020-BVM_EigenDataLayrFee.deploy.ts
  packages/contracts/filenames.txt
  packages/contracts/genesis/addresses.json
  packages/contracts/genesis/local.json
  packages/contracts/genesis/state-dump.latest.json
  packages/contracts/src/address-names.ts
  packages/contracts/tasks/take-dump.ts
  packages/data-transport-layer/src/services/da-ingestion/service.ts
  packages/data-transport-layer/src/services/server/service.ts
Labels: 2-reviewers, M-l2geth, M-contracts, M-dtl, C-Protocol-Critical, M-ops

#813 R4R:Fix updateGasPriceOracleCache
  l2geth/rollup/sync_service.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#812 Feature/fraud proof merge release0.3.2
  CHANGELOG.md
  gas-oracle/bindings/bvm_eigen_datalayr_fee.go
  gas-oracle/bindings/gaspriceoracle.go
  gas-oracle/flags/flags.go
  gas-oracle/go.mod
  gas-oracle/go.sum
  gas-oracle/oracle/config.go
  gas-oracle/oracle/da_fee.go
  gas-oracle/oracle/da_fee_test.go
  gas-oracle/oracle/gas_price_oracle.go
  go.work
  go.work.sum
  l2geth/consensus/clique/clique.go
  l2geth/core/state_processor.go
  l2geth/core/state_transition.go
  l2geth/core/types/receipt.go
  l2geth/core/vm/evm.go
  l2geth/eth/gasprice/rollup_gasprice.go
  l2geth/go.mod
  l2geth/go.sum
  l2geth/params/config.go
  l2geth/rollup/fees/bindings/gaspriceoracle_test.go
  l2geth/rollup/fees/rollup_fee.go
  l2geth/rollup/rcfg/config.go
  l2geth/rollup/sync_service.go
  mt-batcher/bindings/bvm_eigen_datalayr_fee.go
  mt-batcher/config.go
  mt-batcher/flags/flags.go
  mt-batcher/go.mod
  mt-batcher/go.sum
  mt-batcher/mt_batcher.go
  mt-batcher/services/restorer/handle.go
  mt-batcher/services/sequencer/driver.go
  mt-challenger/go.mod
  mt-challenger/go.sum
  ops/docker-compose.yml
  packages/contracts/addresses.json
  packages/contracts/addresses.txt
  packages/contracts/contracts/L2/predeploys/BVM_GasPriceOracle.sol
  packages/contracts/contracts/da/BVM_EigenDataLayrFee.sol
  packages/contracts/deploy-config/goerli-qa.ts
  packages/contracts/deploy-config/goerli-testnet.ts
  packages/contracts/deploy-config/local.ts
  packages/contracts/deploy/020-BVM_EigenDataLayrFee.deploy.ts
  packages/contracts/filenames.txt
  packages/contracts/genesis/addresses.json
  packages/contracts/genesis/local.json
  packages/contracts/genesis/state-dump.latest.json
  packages/contracts/src/address-names.ts
  packages/contracts/tasks/take-dump.ts
  packages/data-transport-layer/src/services/da-ingestion/service.ts
  packages/data-transport-layer/src/services/server/service.ts
Labels: 2-reviewers, M-l2geth, M-contracts, M-dtl, C-Protocol-Critical, M-ops

#815 Feature/da metrics
  mt-batcher/go.mod
  mt-batcher/metrics/interface.go
  mt-batcher/metrics/metrics.go
  mt-batcher/metrics/metrics_server.go
  mt-batcher/mt_batcher.go
  mt-batcher/services/common/base.go
  mt-batcher/services/sequencer/driver.go
  mt-challenger/challenger/challenger.go
  mt-challenger/config.go
  mt-challenger/flags/flags.go
  mt-challenger/go.mod
  mt-challenger/go.sum
  mt-challenger/metrics/interface.go
  mt-challenger/metrics/metrics.go
  mt-challenger/metrics/metrics_server.go
  mt-challenger/mt_challenger.go
Labels: 2-reviewers, M-l2geth, M-contracts, M-dtl, C-Protocol-Critical, M-ops

#818 [fix]: fix config rules
  go.work.sum
  l2geth/params/config.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#822 Shijiang/add new metrics item
  packages/data-transport-layer/src/services/da-ingestion/service.ts
Labels: 2-reviewers, M-dtl, C-Protocol-Critical

#825 R4R:Collect daFee to sequencerFeeValut and eth_getTransactionReceipt support daFee
  go.work.sum
  l2geth/core/state_transition.go
  l2geth/core/types/gen_receipt_json.go
  l2geth/core/types/receipt.go
  l2geth/eth/api_backend.go
  l2geth/internal/ethapi/api.go
  l2geth/internal/ethapi/backend.go
  l2geth/les/api_backend.go
  l2geth/rlp/decode.go
  l2geth/rollup/rcfg/config.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#827 R4R:Delete da scalar
  l2geth/core/state_processor.go
  l2geth/rollup/fees/rollup_fee.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#838 [fix]: imply delegation task
  010.1-BVM_TssDelegation.deploy.ts
  ops/scripts/deployer.sh
  packages/contracts/addresses.json
  packages/contracts/addresses.txt
  packages/contracts/contracts/L1/delegation/DelegationSlasher.sol
  packages/contracts/contracts/L1/fraud-proof/delegation/FraudProofDelegationManager.sol
  packages/contracts/contracts/L1/fraud-proof/delegation/FraudProofDelegationSlasher.sol
  packages/contracts/deploy/010.1-BVM_TssDelegation.deploy.ts
  packages/contracts/deploy/019-BVM_FraudProof.deploy.ts
  packages/contracts/deploy/019.1-BVM_FraudProofDelegation.deploy.ts
  packages/contracts/filenames.txt
  packages/contracts/genesis/addresses.json
  packages/contracts/genesis/local.json
  packages/contracts/genesis/state-dump.latest.json
  packages/contracts/src/address-names.ts
  packages/contracts/tasks/fraud-proof-tasks.ts
Labels: 2-reviewers, M-contracts, C-Protocol-Critical, M-ops

#839 Release/v0.4.0 merge develop fix conflict
  fraud-proof/go.sum
  gas-oracle/oracle/da_fee.go
  go.work.sum
  l2geth/core/state_processor.go
  l2geth/core/state_transition.go
  l2geth/core/types/gen_receipt_json.go
  l2geth/core/types/receipt.go
  l2geth/eth/api_backend.go
  l2geth/go.sum
  l2geth/internal/ethapi/api.go
  l2geth/internal/ethapi/backend.go
  l2geth/les/api_backend.go
  l2geth/rlp/decode.go
  l2geth/rollup/fees/rollup_fee.go
  l2geth/rollup/rcfg/config.go
  mt-batcher/metrics/interface.go
  mt-batcher/metrics/metrics.go
  mt-batcher/metrics/metrics_server.go
  mt-batcher/mt_batcher.go
  mt-batcher/services/common/base.go
  mt-batcher/services/sequencer/driver.go
  mt-challenger/challenger/challenger.go
  mt-challenger/config.go
  mt-challenger/flags/flags.go
  mt-challenger/go.mod
  mt-challenger/metrics/interface.go
  mt-challenger/metrics/metrics.go
  mt-challenger/metrics/metrics_server.go
  mt-challenger/mt_challenger.go
  packages/contracts/deploy-config/goerli-qa.ts
  packages/data-transport-layer/src/services/da-ingestion/service.ts
Labels: 2-reviewers, M-l2geth, M-contracts, M-dtl, C-Protocol-Critical

#840 Fix chain config and add eigenDaBlock flag
  l2geth/cmd/geth/main.go
  l2geth/cmd/geth/usage.go
  l2geth/cmd/utils/flags.go
  l2geth/eth/backend.go
  l2geth/params/config.go
  l2geth/rollup/config.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#842 update da verifier sync bug
  l2geth/rollup/sync_service.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical

#845 Release/v0.3.2
  l2geth/cmd/geth/main.go
  l2geth/cmd/geth/usage.go
  l2geth/cmd/utils/flags.go
  l2geth/eth/backend.go
  l2geth/params/config.go
  l2geth/rollup/config.go
  l2geth/rollup/sync_service.go
Labels: 2-reviewers, M-l2geth, C-Protocol-Critical
