Repository mantlenetworkio/mantle, pull requests merged in 2023-09, with the labels that each got.

#1358 R4R: DTL stop sync TransactionEnqueued event once DTL_SHUTOFF_BLOCK is set
  packages/contracts/deploy/011-AddressDictator.deploy.ts
  packages/contracts/tasks/fraud-proof-tasks.ts
  packages/data-transport-layer/src/services/l1-ingestion/service.ts
Labels: 2-reviewers, M-contracts, M-dtl, C-Protocol-Critical

#1369 Sync release/v0.4.3 to develop
  mt-batcher/services/sequencer/driver.go
  packages/sdk/src/interfaces/l2-provider.ts
  packages/sdk/src/l2-provider.ts
  packages/sdk/test/l2-provider.spec.ts
Labels: M-sdk

#1367 [R4R]-{develop}: fix mt-batcher pushes one less block
  mt-batcher/services/sequencer/driver.go
  packages/data-transport-layer/src/services/da-ingestion/service.ts
Labels: 2-reviewers, M-dtl, C-Protocol-Critical
